 <ul class="songs-list list-item ${gray_bg} tr_item cursorpointer">
 	<li class="col1">
 		<img src="${user_img}" />
 	</li>
 	<li class="col2 flex">
 		<span class="track_num">${i}</span> 		
 	</li>
 	<li class="col3">
 		<a href="" class="" data-role="">${notification}</a>
 	</li>
 	<li class="col4">
 		<a href="${profileLink}" class="noclickplay" data-role="profile" title="${artist_name}">${artist_mini_name}</a>
 	</li>
 	<!-- <li class="col5" class="noclickplay">${album}</li>
 	<li class="col6" class="noclickplay">${genre}</li>
 	 -->
 	 <li class="col7">${createdDate}</li>
 	<!-- <li class="col8">
 		<div class="waveform_img_div" data-waveurl="${waveform}" id="" data-trackurl="${trackLink}" data-track="${trackLink}" data-height="22">
 		</div>
 	</li> -->
 </ul>