<section id="big-player">
						<figure class="song-cover-img"><img src="${img}user-profile-bg.png" alt=""></figure>
						<div id="song-slider">
							<div id="carousel-example-generic" class="carousel slide song-slider" data-ride="carousel">
								<!-- Indicators -->
								<!-- <ol class="carousel-indicators">
								<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
								<li data-target="#carousel-example-generic" data-slide-to="1"></li>
								<li data-target="#carousel-example-generic" data-slide-to="2"></li>
								</ol> -->

								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox">
									<div class="item active">
									 	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 item-box">
									 		<div class="songs">
										 		<figure><img src="${img}video-img1.jpg" alt="" class="img-responsive"></figure>
										 		<div class="play-icon"><a href=""></a></div>
										 	</div>
									 		<article>
									 			<h3>Border</h3>
									 			<span>Come Again</span>
									 		</article>
									 	</div>
									 	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 item-box">
									 		<div class="songs">
										 		<figure><img src="${img}video-img2.jpg" alt="" class="img-responsive"></figure>
										 		<div class="play-icon"><a href=""></a></div>
										 	</div>
									 		<article>
									 			<h3>Norah Jones</h3>
									 			<span>Come Again</span>
									 		</article>
									 	</div>
									 	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 item-box">
									 		<div class="songs">
										 		<figure><img src="${img}video-img3.jpg" alt="" class="img-responsive"></figure>
										 		<div class="play-icon"><a href=""></a></div>
										 	</div>
									 		<article>
									 			<h3>Peter Maffay</h3>
									 			<span>Wenn Das</span>
									 		</article>
									 	</div>
									 	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 item-box">
									 		<div class="songs">
										 		<figure><img src="${img}video-img1.jpg" alt="" class="img-responsive"></figure>
										 		<div class="play-icon"><a href=""></a></div>
										 	</div>
									 		<article>
									 			<h3>Border</h3>
									 			<span>Come Again</span>
									 		</article>
									 	</div>
									 	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 item-box">
									 		<div class="songs">
										 		<figure><img src="${img}video-img2.jpg" alt="" class="img-responsive"></figure>
										 		<div class="play-icon"><a href=""></a></div>
										 	</div>
									 		<article>
									 			<h3>Norah Jones</h3>
									 			<span>Come Again</span>
									 		</article>
									 	</div>
									 	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 item-box">
									 		<div class="songs">
										 		<figure><img src="${img}video-img3.jpg" alt="" class="img-responsive"></figure>
										 		<div class="play-icon"><a href=""></a></div>
										 	</div>
									 		<article>
									 			<h3>Peter Maffay</h3>
									 			<span>Wenn Das</span>
									 		</article>
									 	</div>
									</div>
									<div class="item">
										 <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 item-box">
									 		<div class="songs">
										 		<figure><img src="${img}video-img1.jpg" alt="" class="img-responsive"></figure>
										 		<div class="play-icon"><a href=""></a></div>
										 	</div>
									 		<article>
									 			<h3>Border</h3>
									 			<span>Come Again</span>
									 		</article>
									 	</div>
									 	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 item-box">
									 		<div class="songs">
										 		<figure><img src="${img}video-img2.jpg" alt="" class="img-responsive"></figure>
										 		<div class="play-icon"><a href=""></a></div>
										 	</div>
									 		<article>
									 			<h3>Norah Jones</h3>
									 			<span>Come Again</span>
									 		</article>
									 	</div>
									 	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 item-box">
									 		<div class="songs">
										 		<figure><img src="${img}video-img3.jpg" alt="" class="img-responsive"></figure>
										 		<div class="play-icon"><a href=""></a></div>
										 	</div>
									 		<article>
									 			<h3>Peter Maffay</h3>
									 			<span>Wenn Das</span>
									 		</article>
									 	</div>
									 	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 item-box">
									 		<div class="songs">
										 		<figure><img src="${img}video-img1.jpg" alt="" class="img-responsive"></figure>
										 		<div class="play-icon"><a href=""></a></div>
										 	</div>
									 		<article>
									 			<h3>Border</h3>
									 			<span>Come Again</span>
									 		</article>
									 	</div>
									 	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 item-box">
									 		<div class="songs">
										 		<figure><img src="${img}video-img2.jpg" alt="" class="img-responsive"></figure>
										 		<div class="play-icon"><a href=""></a></div>
										 	</div>
									 		<article>
									 			<h3>Norah Jones</h3>
									 			<span>Come Again</span>
									 		</article>
									 	</div>
									 	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 item-box">
									 		<div class="songs">
										 		<figure><img src="${img}video-img3.jpg" alt="" class="img-responsive"></figure>
										 		<div class="play-icon"><a href=""></a></div>
										 	</div>
									 		<article>
									 			<h3>Peter Maffay</h3>
									 			<span>Wenn Das</span>
									 		</article>
									 	</div>
										
									</div>
								</div>

								<!-- Controls -->
								<!-- <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" style="z-index:999; width:10%; background-color:rgba(26,26,27,1);">
									<span class="left-arrow"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" style="z-index:999; width:10%; background-color:rgba(26,26,27,1);">
									<span class="right-arrow"></span>
									<span class="sr-only">Next</span>
								</a> -->
							</div>
							<div class="play-btns">
								<a href="" class="prev-next prev"></a>
								<a href="" class="push"></a>
								<a href="" class="prev-next next"></a>
							</div>
						</div>
						<div class="player-track">
								<div class="wave-box">
									<span class="timing">1:59</span>
									<figure><img src="${img}wave-a.png" alt="" class="img-responsive"></figure>
									<span class="timing">4:38</span>
								</div>
								<div class="settings">
									<div class="left-part pull-left">
										<a href="" class="icon1"></a>
										<a href="" class="icon2"></a>
									</div>
									<div class="right-part pull-right">
										<a href="" class="list-icon"></a>
										<a href="" class="player-close-icon"></a>
									</div>
								</div>
							</div>
					</section>