<div class="message" id="message_conv_${conversation_id}" data-url="${msg_url}" data-profile-id="${profile_id}" data-role="messge_detail_row">
													<figure><a href="${url}${profileLink}" data-role="profile"><img src="${img_path}" alt="${firstname}${lastname}" height="41" width="41"></a></figure>
													<article>
														<p>
															<a href="${url}${profileLink}" data-role="profile">${firstname} ${lastname}</a>
															<div class="content">${content}</div>
														</p>
														<span>${timeago}</span>
													</article>
												</div>