<div class="box">
	<div class="item margin4">
				<img src="${img_url}" alt="" >
				<div class="featured"><p>FEATURED TRACK</p></div>
				<div class="black-bg"><a href="#" class="play-icon"></a></div>
				<div class="tag-texts">
					<article>
						<a href="#"><img src="${profile_img}"></a>
						<div class="track-info">
							<h4>COME AGAIN shared a new song</h4>
							<h2>Border</h2>
						</div>
					</article>
					<ul class="links">
						<li><a href="#" class="heart-icon">4.289</a></li>
						<li><a href="#" class="link-icon">SHARE</a></li>
						<li class="border-r"><a href="#" class="plus-icon">ADD</a></li>
					</ul>
					<div class="wave-img">
						<figure><img src="${wave_img}" alt=""></figure>
						<span>2:48</span>
					</div>
				</div>
			</div>
</div>