<div class="popup popup_animate">
  <button class="popup-close" (click)="closePopup()" type="button">Close</button>
  <div class="popup-bg"></div>
  <div class="popup-scroll popup_animate_inner">
    <div class="popup-inner">
      <div class="edit-track-block">
        <div class="title">Edit track</div>
        <div class="song title">{{uploadTrackInfo.title}}</div>
      </div>
      <div class="tab-panel">
        <button class="tab-pnl-btn"
                type="button"
                [class.active]="currentTab === 1"
                (click)="toggleTabs(1)">
          Basic</button>
        <button class="tab-pnl-btn"
                type="button"
                [class.active]="currentTab === 2"
                (click)="toggleTabs(2)">
          Sell your music</button>
      </div>
      <div class="edit-track-content">
        <div class="tab-content"
             [class.active]="currentTab === 1">

          <form class="edit-track-form pad-left"
                [formGroup]="uploadTrackForm"
                (ngSubmit)="onSubmit()">
            <!--TRACK IMAGE-->
            <div class="edit-photo">
              <img *ngIf="trackImage" [src]="trackImage" alt="">
              <input id="trackImg"
                     type="file"
                     name="trackImage"/>
              <label class="img-upload"
                     for="trackImg">Upload image</label>
            </div>
            <!--TITLE-->
            <div class="inp-block">
              <input id="trackTitle"
                     type="text"
                     name="title"
                     formControlName="title">
              <label for="trackTitle"></label>
              <!--<div *ngIf="formErrors.title" class="alert alert-danger">-->
                <!--{{ formErrors.title }}-->
              <!--</div>-->
            </div>
            <!--DESCRIPTION-->
            <div class="inp-block">
              <textarea id="trackDesc" name="desc" cols="30" rows="10" formControlName="desc"></textarea>
              <label for="trackDesc" (click)="showTest()">Description</label>
            </div>
            <!--RELEASE DATE-->
            <div class="inp-block">
              <my-date-picker class="custom_picker valid_style"
                              name="release_date" id="trackDate"
                              [options]="myDatePickerOptions"
                              [(ngModel)]="currentDate"
                              formControlName="release_date"></my-date-picker>
              <!--<input id="trackDate"-->
                     <!--type="text"-->
                     <!--value=""-->
                     <!--name="release_date"-->
                     <!--data-type="datepicker"-->
                     <!--required-->
                     <!--formControlName="release_date">-->
              <label for="trackDate">Release date</label>
            </div>
            <!--TRACK TYPE-->
            <div class="inp-block">
              <ng-select formControlName="track_type"
                         id="trackType"
                         class="custom_select"
                         [options]="trackTypesList"
                         [multiple]="true"
                         [highlightColor]="'#242526'">
              </ng-select>
              <label class="select2-label" for="trackType">Track type</label>
            </div>
            <!--TRACK GENRE-->
            <div class="inp-block">
              <ng-select formControlName="genre_id"
                         id="trackGenre"
                         class="custom_select"
                         [options]="genresList"
                         [multiple]="true"
                         [highlightColor]="'#242526'">
              </ng-select>
              <label class="select2-label" for="trackGenre">Primary genre</label>
            </div>
            <!--SECOND GENRES-->
            <div class="inp-block">
              <ng-select formControlName="second_genre_id"
                         id="secondGenre"
                         class="custom_select"
                         [options]="secGenresList"
                         [multiple]="true"
                         [highlightColor]="'#242526'">
              </ng-select>
              <!--<select id="secondGenre"-->
                      <!--data-placeholder="Please select secondary genre"-->
                      <!--name="second_genre_id"-->
                      <!--required-->
                      <!--&gt;-->
                <!--<option value="0" selected>Select secondary genre</option>-->
                <!--<option *ngFor="let genre of secGenresList" [value]="genre.id">{{genre.genre}}</option>-->
              <!--</select>-->
              <label for="secondGenre">Secondary genre(pick two)</label>
            </div>
            <!--TRACK MOODS-->
            <div class="inp-block">
              <ng-select formControlName="pick_moods"
                         id="trackMoods"
                         class="custom_select"
                         [options]="moodsList"
                         [multiple]="true"
                         [highlightColor]="'#242526'">
              </ng-select>
              <label for="trackMoods">Pick moods</label>
            </div>
            <!--TYPES PUBLIC-->
            <div class="inp-block">
              <label>Select track type</label>
              <label class="radio-lbl" for="typesPublic">
                <input id="typesPublic"
                       type="radio"
                       name="is_public"
                       checked
                       value="1"
                       formControlName="is_public" />
                <i></i><span>Public</span>
              </label>
              <label class="radio-lbl" for="typesPrivate">
                <input id="typesPrivate"
                       type="radio"
                       name="is_public"
                       value="0"
                       formControlName="is_public"/>
                <i></i><span>Private</span>
              </label>
            </div>
            <!--TYPE ARTIST MALE-->
            <div class="inp-block">
              <label>Select type of artist</label>
              <label class="radio-lbl" for="typeArtistMale">
                <input id="typeArtistMale"
                       type="radio"
                       name="type_artist"
                       value="male" formControlName="type_artist" />
                <i></i><span>Male</span>
              </label>
              <label class="radio-lbl" for="typeArtistFemale">
                <input id="typeArtistFemale"
                       type="radio"
                       name="type_artist"
                       value="female"
                       formControlName="type_artist" />
                <i></i><span>Female</span>
              </label>
              <label class="radio-lbl" for="typeArtistBoth">
                <input id="typeArtistBoth"
                       type="radio"
                       name="type_artist"
                       value="both"
                       formControlName="type_artist" />
                <i></i><span>Both</span>
              </label>
            </div>

            <button type="submit" [disabled]="!uploadTrackForm.valid">send</button>
          </form>
        </div>
        <div class="tab-content"
             [class.active]="currentTab === 2">
          <form class="edit-track-form" action="#">

            <div class="inp-block">
              <label>Wanna make your music available for sale</label>
              <label class="toggleLabel" for="toggleSaleMusic">
                <input  id="toggleSaleMusic"
                        type="checkbox"
                        name="music-sale"
                        (change)="toggleSaleStatus()">
                <span class="toggleElement">
                                            <i></i>
                                            <b class="toggle-on">On</b>
                                            <b class="toggle-off">Off</b>
                                        </span>
              </label>
            </div>
            <div [hidden]="!saleStatus">
              <app-price-field [id]="'album'"
                               [price]="sellData.album" (update)="updatePrice($event)">Album</app-price-field>
              <app-price-field [id]="'single'"
                               [price]="sellData.single"
                               (update)="updatePrice($event)">Single</app-price-field>
            </div>

            <div class="inp-block">
              <label>Wanna make your music available for licensing</label>
              <label class="toggleLabel"
                     for="toggleLicenseMusic">
                <input id="toggleLicenseMusic"
                       type="checkbox"
                       name="music-license"
                       (change)="toggleLicensingStatus()">
                <span class="toggleElement">
                                            <i></i>
                                            <b class="toggle-on">On</b>
                                            <b class="toggle-off">Off</b>
                                        </span>
              </label>
            </div>
            <div [hidden]="!licensingStatus">
              <app-price-field [id]="'advertising'"
                               [price]="225.00"
                               (update)="updatePrice($event)">Advertising</app-price-field>
              <app-price-field [id]="'corporate'"
                               [price]="375.00"
                               (update)="updatePrice($event)">Corporate/Commercial film</app-price-field>
              <app-price-field [id]="'documentary'"
                               [price]="60.00"
                               (update)="updatePrice($event)">Documentary/Indie/Student film</app-price-field>
              <app-price-field [id]="'tv'"
                               [price]="120.00"
                               (update)="updatePrice($event)">Film/TV Show</app-price-field>
              <app-price-field [id]="'software'"
                               [price]="300.00"
                               (update)="updatePrice($event)">Software</app-price-field>
              <app-price-field [id]="'internet_video'"
                               [price]="3.00"
                               (update)="updatePrice($event)">Internet Video</app-price-field>
              <app-price-field [id]="'live_event'"
                               [price]="15.00"
                               (update)="updatePrice($event)">Live Event</app-price-field>
              <app-price-field [id]="'music_hold'"
                               [price]="30.00"
                               (update)="updatePrice($event)">Music on Hold</app-price-field>
              <app-price-field [id]="'music_production_1'"
                               [price]="175.00"
                               (update)="updatePrice($event)">Music Production and Audio Project/Lease (10001 to 50000 copies)</app-price-field>
              <app-price-field [id]="'music_production_2'"
                               [price]="105.00"
                               (update)="updatePrice($event)">Music Production and Audio Project/Lease (1001 to 10000 copies)</app-price-field>
              <app-price-field [id]="'music_production_3'"
                               [price]="245.00"
                               (update)="updatePrice($event)">Music Production and Audio Project/Lease (over 50000 copies)</app-price-field>
              <app-price-field [id]="'music_production_4'"
                               [price]="35.00"
                               (update)="updatePrice($event)">Music Production and Audio Project/Lease (up to 10000 copies)</app-price-field>
              <app-price-field [id]="'website'"
                               [price]="5.00"
                               (update)="updatePrice($event)">Website</app-price-field>
            </div>

            <div class="inp-block">
              <label>Wanna make your music available for non-profit use</label>
              <label class="toggleLabel" for="toggleUseMusic">
                <input id="toggleUseMusic"
                       type="checkbox"
                       name="music-use"
                       (change)="toggleNonProfit()">
                <span class="toggleElement">
                                            <i></i>
                                            <b class="toggle-on">On</b>
                                            <b class="toggle-off">Off</b>
                                        </span>
              </label>
            </div>
            <div [hidden]="!nonProfitStatus">
              <div class="inp-block price-opt">
                <input id="optNonProfit" type="checkbox" name="optNonProfit">
                <label class="opt-name" for="optNonProfit">
                  <span>Non profit</span>
                  <i></i>
                  <button class="price-btn disabled">$ 0.00</button>
                  <input class="hidden-price" type="text" name="price[]nonProfit">
                  <span class="price-ready-btn"></span>
                </label>
              </div>
            </div>
            <div class="inp-block copyright">
              <label class="copyright-label" for="copyright">
                <input id="copyright"
                       type="checkbox"
                       name="copyright"
                       value="0">
                <i></i>
                <span class="privacy-info">I certify that I own the copyright in or have all the necessary rights related to such content to upload it.</span>
              </label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
