<div class="popup popup_animate">
  <button class="popup-close" (click)="closePopup()" type="button">Close</button>
  <div class="popup-bg"></div>
  <div class="popup-scroll popup_animate_inner">
    <div class="popup-inner">
      <form [formGroup]="uploadTrackForm"
            (ngSubmit)="onSubmit($event)">
        <div class="edit-track-block">
          <div class="title">Edit track</div>
          <div class="song title">{{uploadTrackForm.controls.title.value}}</div>
        </div>
        <div class="tab-panel">
          <button class="tab-pnl-btn"
                  type="button"
                  [class.active]="currentTab === 1"
                  (click)="toggleTabs(1)">
            Basic
          </button>
          <button class="tab-pnl-btn"
                  type="button"
                  *ngIf="uploadTrackForm.controls.is_public.value === '1'"
                  [class.active]="currentTab === 2"
                  (click)="toggleTabs(2)">
            Sell your music
          </button>
        </div>
        <div class="edit-track-content">
          <div class="tab-content"
               [class.active]="currentTab === 1">
            <div class="edit-track-form pad-left">
              <!--TRACK IMAGE-->
              <div class="edit-photo">
                <img *ngIf="trackImage" [src]="trackImage" alt="">
                <input id="trackImg"
                       type="file"
                       name="trackImage" (change)="checkImage($event)"/>
                <label class="img-upload"
                       for="trackImg">Upload image</label>
              </div>
              <!--TITLE-->
              <div class="inp-block">
                <input id="trackTitle"
                       type="text"
                       name="title"
                       formControlName="title">
                <label for="trackTitle">* </label>
                <!--<div *ngIf="formErrors.title" class="alert alert-danger">-->
                <!--{{ formErrors.title }}-->
                <!--</div>-->
              </div>
              <!--DESCRIPTION-->
              <div class="inp-block">
                <textarea id="trackDesc" name="desc" cols="30" rows="10" formControlName="desc"></textarea>
                <label for="trackDesc" (click)="showTest()">Description</label>
              </div>
              <!--RELEASE DATE-->
              <div class="inp-block">
                <my-date-picker class="custom_picker valid_style"
                                name="release_date" id="trackDate"
                                [options]="myDatePickerOptions"
                                [(ngModel)]="currentDate"
                                formControlName="release_date"></my-date-picker>
                <!--<input id="trackDate"-->
                <!--type="text"-->
                <!--value=""-->
                <!--name="release_date"-->
                <!--data-type="datepicker"-->
                <!--required-->
                <!--formControlName="release_date">-->
                <label for="trackDate">* Release date</label>
              </div>
              <!--TRACK TYPE-->
              <div class="inp-block">
                <ng-select formControlName="track_type"
                           id="trackType"
                           class="custom_select"
                           [options]="trackTypesList"
                           [multiple]="false"
                           [highlightColor]="'#242526'">
                </ng-select>
                <label class="select2-label" for="trackType">* Track type</label>
              </div>
              <!--TRACK GENRE-->
              <div class="inp-block">
                <ng-select formControlName="genre_id"
                           id="trackGenre"
                           class="custom_select"
                           [options]="genresList"
                           [multiple]="false"
                           [highlightColor]="'#242526'">
                </ng-select>
                <label class="select2-label" for="trackGenre">* Primary genre</label>
              </div>
              <!--SECOND GENRES-->
              <div class="inp-block">
                <ng-select formControlName="second_genre_id"
                           id="secondGenre"
                           class="custom_select"
                           [options]="secGenresList"
                           [multiple]="true"
                           [highlightColor]="'#242526'">
                </ng-select>
                <label for="secondGenre">Secondary genre(pick two)</label>
              </div>
              <!--TRACK MOODS-->
              <div class="inp-block">
                <ng-select formControlName="pick_moods"
                           id="trackMoods"
                           class="custom_select"
                           [options]="moodsList"
                           [multiple]="true"
                           [highlightColor]="'#242526'">
                </ng-select>
                <label for="trackMoods">Pick moods</label>
              </div>
              <!--TYPES PUBLIC-->
              <div class="inp-block">
                <label>Select track type</label>
                <label class="radio-lbl" for="typesPublic">
                  <input id="typesPublic"
                         type="radio"
                         name="is_public"
                         value="1"
                         formControlName="is_public"/>
                  <i></i><span>Public</span>
                </label>
                <label class="radio-lbl" for="typesPrivate">
                  <input id="typesPrivate"
                         type="radio"
                         name="is_public"
                         value="0"
                         formControlName="is_public"/>
                  <i></i><span>Private</span>
                </label>
              </div>
              <!--TYPE ARTIST MALE-->
              <div class="inp-block">
                <label>Select type of artist</label>
                <label class="radio-lbl" for="typeArtistMale">
                  <input id="typeArtistMale"
                         type="radio"
                         name="type_artist"
                         value="male" formControlName="type_artist"/>
                  <i></i><span>Male</span>
                </label>
                <label class="radio-lbl" for="typeArtistFemale">
                  <input id="typeArtistFemale"
                         type="radio"
                         name="type_artist"
                         value="female"
                         formControlName="type_artist"/>
                  <i></i><span>Female</span>
                </label>
                <label class="radio-lbl" for="typeArtistBoth">
                  <input id="typeArtistBoth"
                         type="radio"
                         name="type_artist"
                         value="both"
                         formControlName="type_artist"/>
                  <i></i><span>Both</span>
                </label>
              </div>

              <div class="inp-block copyright"
                   *ngIf="uploadTrackForm.controls.is_public.value === '0'">
                <label class="copyright-label" for="copyright_pre">
                  <input id="copyright_pre" type="checkbox"
                         name="copyright"
                         formControlName="copyright">
                  <i></i>
                  <span class="privacy-info">* I certify that I own the copyright in or have all the necessary rights related to such content to upload it.</span>
                </label>
              </div>

              <div class="sbm-block text-center">
                <div class="btn" *ngIf="uploadTrackForm.controls.is_public.value === '1'"
                        (click)="toggleTabs(2)">Next</div>
                <button type="submit"
                        *ngIf="uploadTrackForm.controls.is_public.value === '0'"
                        [disabled]="!uploadTrackForm.valid">Send</button>
              </div>
            </div>
          </div>
          <div class="tab-content"
               *ngIf="uploadTrackForm.controls.is_public.value === '1'"
               [class.active]="currentTab === 2">
            <div class="edit-track-form">
              <!--SALE MUSIC-->
              <div class="inp-block">
                <label (click)="test()">Make your music available for sale</label>
                <label class="toggleLabel" for="toggleSaleMusic">
                  <input id="toggleSaleMusic"
                         type="checkbox"
                         name="music-sale"
                         (change)="switchSale()">
                  <span class="toggleElement">
                                            <i></i>
                                            <b class="toggle-on">On</b>
                                            <b class="toggle-off">Off</b>
                                        </span>
                </label>
              </div>
              <div *ngIf="saleIsOpen">
                <app-price-field [id]="'album'"
                                 [price]="uploadTrackInfo.album"
                                 (update)="updatePrice($event)"
                                 (checks)="checkPrice($event)">
                  Album
                </app-price-field>
                <app-price-field [id]="'single'"
                                 [price]="uploadTrackInfo.single"
                                 (update)="updatePrice($event)"
                                 (checks)="checkPrice($event)">
                  Single
                </app-price-field>
              </div>

              <!--AVAILABLE FOR LICENSING-->
              <div class="inp-block">
                <label>Make your music available for licensing</label>
                <label class="toggleLabel"
                       for="toggleLicenseMusic">
                  <input id="toggleLicenseMusic"
                         type="checkbox"
                         name="music-license"
                         (change)="switchLicensing()">
                  <span class="toggleElement">
                                            <i></i>
                                            <b class="toggle-on">On</b>
                                            <b class="toggle-off">Off</b>
                                        </span>
                </label>
              </div>
              <div *ngIf="licensingIsOpen">
                <app-price-field [id]="'advertising'"
                                 [price]="uploadTrackInfo.advertising"
                                 (update)="updatePrice($event)"
                                 (checks)="checkPrice($event)">
                  Advertising
                </app-price-field>
                <app-price-field [id]="'corporate'"
                                 [price]="uploadTrackInfo.corporate"
                                 (update)="updatePrice($event)"
                                 (checks)="checkPrice($event)">Corporate/Commercial film
                </app-price-field>
                <app-price-field [id]="'documentaryFilm'"
                                 [price]="uploadTrackInfo.documentaryFilm"
                                 (update)="updatePrice($event)"
                                 (checks)="checkPrice($event)">Documentary/Indie/Student film
                </app-price-field>
                <app-price-field [id]="'film'"
                                 [price]="uploadTrackInfo.film"
                                 (update)="updatePrice($event)"
                                 (checks)="checkPrice($event)">Film/TV Show
                </app-price-field>
                <app-price-field [id]="'software'"
                                 [price]="uploadTrackInfo.software"
                                 (update)="updatePrice($event)"
                                 (checks)="checkPrice($event)">Software
                </app-price-field>
                <app-price-field [id]="'internetVideo'"
                                 [price]="uploadTrackInfo.internetVideo"
                                 (update)="updatePrice($event)"
                                 (checks)="checkPrice($event)">Internet Video
                </app-price-field>
                <app-price-field [id]="'liveEvent'"
                                 [price]="uploadTrackInfo.liveEvent"
                                 (update)="updatePrice($event)"
                                 (checks)="checkPrice($event)">Live Event
                </app-price-field>
                <app-price-field [id]="'musicHold'"
                                 [price]="uploadTrackInfo.musicHold"
                                 (update)="updatePrice($event)"
                                 (checks)="checkPrice($event)">Music on Hold
                </app-price-field>
                <app-price-field [id]="'musicProd51k'"
                                 [price]="uploadTrackInfo.musicProd51k"
                                 (update)="updatePrice($event)"
                                 (checks)="checkPrice($event)">Music Production and Audio Project/Lease (over 50000 copies)
                </app-price-field>
                <app-price-field [id]="'musicProd50k'"
                                 [price]="uploadTrackInfo.musicProd50k"
                                 (update)="updatePrice($event)"
                                 (checks)="checkPrice($event)">Music Production and Audio Project/Lease (10001 to 50000 copies)
                </app-price-field>
                <app-price-field [id]="'musicProd10k'"
                                 [price]="uploadTrackInfo.musicProd10k"
                                 (update)="updatePrice($event)"
                                 (checks)="checkPrice($event)">Music Production and Audio Project/Lease (1001 to 10000 copies)
                </app-price-field>
                <app-price-field [id]="'musicProd1k'"
                                 [price]="uploadTrackInfo.musicProd1k"
                                 (update)="updatePrice($event)"
                                 (checks)="checkPrice($event)">Music Production and Audio Project/Lease (up to 1000 copies)
                </app-price-field>
                <app-price-field [id]="'website'"
                                 [price]="uploadTrackInfo.website"
                                 (update)="updatePrice($event)"
                                 (checks)="checkPrice($event)">Website
                </app-price-field>
              </div>

              <!--AVAILABLE FOR LICENSING EXCLUSIVE-->
              <div class="inp-block">
                <label>Make your music available for exclusive licensing</label>
                <label class="toggleLabel"
                       for="toggleLicenseEMusic">
                  <input id="toggleLicenseEMusic"
                         type="checkbox"
                         name="music-licenseE"
                         (change)="switchELicensing()">
                  <span class="toggleElement">
                                            <i></i>
                                            <b class="toggle-on">On</b>
                                            <b class="toggle-off">Off</b>
                                        </span>
                </label>
              </div>
              <div *ngIf="licensingEIsOpen">
                <app-price-field [id]="'advertisingE'"
                                 [price]="uploadTrackInfo.advertisingE"
                                 (update)="updatePrice($event)"
                                 (checks)="checkPrice($event)">Advertising
                </app-price-field>
                <app-price-field [id]="'corporateE'"
                                 [price]="uploadTrackInfo.corporateE"
                                 (update)="updatePrice($event)"
                                 (checks)="checkPrice($event)">Corporate/Commercial film
                </app-price-field>
                <app-price-field [id]="'documentaryFilmE'"
                                 [price]="uploadTrackInfo.documentaryFilmE"
                                 (update)="updatePrice($event)"
                                 (checks)="checkPrice($event)">Documentary/Indie/Student film
                </app-price-field>
                <app-price-field [id]="'filmE'"
                                 [price]="uploadTrackInfo.filmE"
                                 (update)="updatePrice($event)"
                                 (checks)="checkPrice($event)">Film/TV Show
                </app-price-field>
                <app-price-field [id]="'softwareE'"
                                 [price]="uploadTrackInfo.softwareE"
                                 (update)="updatePrice($event)"
                                 (checks)="checkPrice($event)">Software
                </app-price-field>
                <app-price-field [id]="'internetVideoE'"
                                 [price]="uploadTrackInfo.internetVideoE"
                                 (update)="updatePrice($event)"
                                 (checks)="checkPrice($event)">Internet Video
                </app-price-field>
                <app-price-field [id]="'liveEventE'"
                                 [price]="uploadTrackInfo.liveEventE"
                                 (update)="updatePrice($event)"
                                 (checks)="checkPrice($event)">Live Event
                </app-price-field>
                <app-price-field [id]="'musicHoldE'"
                                 [price]="uploadTrackInfo.musicHoldE"
                                 (update)="updatePrice($event)"
                                 (checks)="checkPrice($event)">Music on Hold
                </app-price-field>
                <app-price-field [id]="'musicProd51kE'"
                                 [price]="uploadTrackInfo.musicProd51kE"
                                 (update)="updatePrice($event)"
                                 (checks)="checkPrice($event)">Music Production and Audio Project/Lease (over 50000 copies)
                </app-price-field>
                <app-price-field [id]="'musicProd50kE'"
                                 [price]="uploadTrackInfo.musicProd50kE"
                                 (update)="updatePrice($event)"
                                 (checks)="checkPrice($event)">Music Production and Audio Project/Lease (10001 to 50000 copies)
                </app-price-field>
                <app-price-field [id]="'musicProd10kE'"
                                 [price]="uploadTrackInfo.musicProd10kE"
                                 (update)="updatePrice($event)"
                                 (checks)="checkPrice($event)">Music Production and Audio Project/Lease (1001 to 10000 copies)
                </app-price-field>
                <app-price-field [id]="'musicProd1kE'"
                                 [price]="uploadTrackInfo.musicProd1kE"
                                 (update)="updatePrice($event)"
                                 (checks)="checkPrice($event)">Music Production and Audio Project/Lease (up to 1000 copies)
                </app-price-field>
                <app-price-field [id]="'websiteE'"
                                 [price]="uploadTrackInfo.websiteE"
                                 (update)="updatePrice($event)"
                                 (checks)="checkPrice($event)">Website
                </app-price-field>
              </div>

              <!--NON-PROFIT USE-->
              <div class="inp-block">
                <label>Wanna make your music available for non-profit use</label>
                <label class="toggleLabel" for="toggleUseMusic">
                  <input id="toggleUseMusic"
                         type="checkbox"
                         name="music-use"
                         (change)="switchNoneProfit()">
                  <span class="toggleElement">
                                            <i></i>
                                            <b class="toggle-on">On</b>
                                            <b class="toggle-off">Off</b>
                                        </span>
                </label>
              </div>
              <div *ngIf="noneProfitIsOpen">
                <app-price-field [id]="'nonProfit'"
                                 [price]="uploadTrackInfo.nonProfit"
                                 (update)="updatePrice($event)"
                                 (checks)="checkPrice($event)">Non profit
                </app-price-field>
              </div>

              NEVER SALE
              <div class="inp-block">
                <label>Never sale my music</label>
                <label class="toggleLabel" for="neverSale">
                  <input id="neverSale"
                         type="checkbox"
                         name="music-use"
                         (change)="switchNeverSale()">
                  <span class="toggleElement">
                                            <i></i>
                                            <b class="toggle-on">On</b>
                                            <b class="toggle-off">Off</b>
                                        </span>
                </label>
              </div>

              <div class="inp-block copyright">
                <label class="copyright-label" for="copyright">
                  <input id="copyright"
                         type="checkbox"
                         name="copyright"
                         formControlName="copyright">
                  <i></i>
                  <span class="privacy-info">* I certify that I own the copyright in or have all the necessary rights related to such content to upload it.</span>
                </label>
              </div>
              <div class="sbm-block text-center">
                <button type="submit" class="" [disabled]="!uploadTrackForm.valid">Send</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
