<app-preloader [isVisible]="isVisible"></app-preloader>
<ng2-toasty [position]="'top-right'"></ng2-toasty>
<div id="menu">
  <!--<div class="menu-bg"-->
  <!--style="background-image: url('assets/images/bigProfile.jpg');"></div>-->
  <header>
    <a class="head-logo" href="index.html">Logo</a>
    <span class="head-info">SELL YOUR MUSIC</span>
  </header>
  <div class="menu-inn">
    <div *ngIf="!loggedin" class="profile sign">
      <a class="sign-btn"
         href="#"
         [routerLink]="['/', {outlets: {'popup': ['signup']}}]">Sign up</a>
      <a class="sign-btn"
         href="#"
         [routerLink]="['/', {outlets: {'popup': ['login']}}]">Sign in</a>
    </div>
    <!--<a href="#" (click)="logOut()">LOGOUT</a>-->
    <div class="profile" *ngIf="loggedin">
      <a class="prof-link" href="#" routerLink="/profile">
        <div class="img-box">
          <img class="prof-img"
               *ngIf="loggedin"
               [src]="profileData.profileImage" alt=""/>
          <i><span class="prof-status online" data-status="current"></span></i>
          <span class="prof-status edit" data-status="edit"></span>
          <div class="prof-status-opt">
            <ul class="prof-status-list">
              <li class="prof-status online" data-status="selected">
                <span>Online</span>
              </li>
              <li class="prof-status offline"
                  data-status="selected"><span>Offline</span></li>
              <li class="prof-status away"
                  data-status="selected"><span>Away</span></li>
            </ul>
          </div>
        </div>
        <div class="prof-user"
             *ngIf="loggedin"><span>{{profileData.username}}</span></div>
      </a>
      <ul class="prof-notes">
        <li class="prof-note">
          <a class="note-link email-ico"
             href="#"
             title="email"
             [routerLink]="['/', {outlets: {'popup': ['messages']}}]"></a>
          <span class="note-number">2</span>
        </li>
        <li class="prof-note">
          <a class="nav-one note-link alert-ico"
             href="#"
             title="notifications"
             [routerLink]="['/', {outlets: {'popup': ['notifications']}}]"></a>
          <span class="note-number">16</span>
        </li>
        <li class="prof-note">
          <a href="#" class="note-link settings-ico" title="settings"></a>
          <div class="popover top">
            <div class="inner">
              <ul class="inn-list">
                <li>
                  <a href="#" routerLink="account">
                    <span>Account</span>
                  </a>
                </li>
                <li>
                  <a href="#"
                     [routerLink]="['/', {outlets: {'popup': ['edit-profile']}}]">
                    <span>Edit Profile</span>
                  </a>
                </li>
                <li>
                  <a href="#" routerLink="/upload"><span>Edit Tracks</span></a>
                </li>
                <li>
                  <a href="#" routerLink="/upload"><span>Upload Track</span></a>
                </li>
                <li>
                  <a href="#"
                     [routerLink]="['/', {outlets: {'popup': ['roles']}}]">
                    <span>Roles</span>
                  </a>
                </li>
                <li>
                  <a href="#"
                     [routerLink]="['/', {outlets: {'popup': ['membership']}}]">
                    <span>Membership</span>
                  </a>
                </li>
                <li>
                  <a href="#" routerLink="/upload"><span>Apply Gift Coupon</span></a>
                </li>
                <li>
                  <a href="#"
                     [routerLink]="['/', {outlets: {'popup': ['invite']}}]">
                    <span>Invite Friends</span>
                  </a>
                </li>
                <li>
                  <a href="#" (click)="logOut()"><span>Sign Out</span></a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <nav class="menu-nav">
      <a class="nav-one" routerLink="/home" routerLinkActive="active">
        <i class="ic-home"></i>
        <span>Home</span>
      </a>
      <a class="nav-one" routerLink="/browse" routerLinkActive="active">
        <i class="ic-browse"></i>
        <span>Browse</span>
      </a>
      <a class="nav-one"
         href="#"
         *ngIf="loggedin"
         [routerLink]="['/', {outlets: {'popup': ['playlist']}}]"
         routerLinkActive="active">
        <i class="ic-playlist"></i>
        <span>Playlist</span>
      </a>
      <a class="nav-one"
         href="#"
         *ngIf="loggedin"
         routerLink="/upload"
         routerLinkActive="active">
        <i class="ic-upload"></i>
        <span>Upload</span>
      </a>
      <a class="nav-one"
         href="#"
         *ngIf="loggedin"
         [routerLink]="['/', {outlets: {'popup': ['favorites']}}]">
        <i class="ic-like"></i>
        <span>Favorites</span>
      </a>
    </nav>

  </div>
  <footer>
    <div class="foot-links">
      <a href="#" [routerLink]="['/', {outlets: {'popup': ['about']}}]">About</a>
      |
      <a href="#">Privacy Policy</a>
      |
      <a href="statics.html">Legal</a>
    </div>
    <div class="foot-copy">Copyright © 2014 imusify <br>All rights reserved</div>
  </footer>
</div>
<router-outlet name="popup"></router-outlet>
<div class="main">
  <!--<app-audio-player></app-audio-player>-->
  <app-player></app-player>
  <router-outlet></router-outlet>
</div>


