@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin transform($transform...) {
  -webkit-transform: $transform;
    -ms-transform: $transform;
      transform: $transform;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

@mixin content-tl($top: 0, $left: 0, $height: 100%, $width: 100%, $bgColor: $primaryColor) {
  content:      '';
  position:       absolute;
  top:        $top;
  left:         $left;
  height:       $height;
  width:        $width;
  background-color: $bgColor;
}

@mixin content-tr($top: 0, $right: 0, $height: 100%, $width: 100%, $bgColor: $primaryColor) {
  content:      '';
  position:       absolute;
  top:        $top;
  right:        $right;
  height:       $height;
  width:        $width;
  background-color: $bgColor;
}

@mixin content-bl($bottom: 0, $left: 0, $height: 100%, $width: 100%, $bgColor: $primaryColor) {
  content:      '';
  position:       absolute;
  bottom:       $bottom;
  left:         $left;
  height:       $height;
  width:        $width;
  background-color: $bgColor;
}

@mixin content-br($bottom: 0, $right: 0, $height: 100%, $width: 100%, $bgColor: $primaryColor) {
  content:      '';
  position:       absolute;
  bottom:       $bottom;
  right:        $right;
  height:       $height;
  width:        $width;
  background-color: $bgColor;
}