.swiper-container {
  max-width: 1000px;
  .img {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 135px;
    height: 135px;
  }
  .swiper-slide {
    transform: scale(0.75);
    &-prev {
      transform: scale(0.85);
    }
    &-next {
      transform: scale(0.85);
    }
    &-active {
      transform: scale(1);
    }
  }
}