<div class="feed-box isNews">
  <div class="feed-inn">

    <div class="feed-bg">
      <img [src]="article.article_image" alt="Come again shared a new song"/>
    </div>

    <div class="feed-bottom">
      <div class="track-info">
        <a href="#" class="subtitle"><span>JOHN DOE</span> shared an article</a>
        <a href="#" class="title">{{article.title}}</a>
      </div>
      <div class="track-timeline">
        <div class="action-btns">
          <button class="action-btn like" title="like">4.289</button>
          |
          <button class="action-btn share" title="share">share</button>
        </div>
      </div>
    </div>

  </div>
</div>