<div class="col-md-12">
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<form role="form" class="album-form  form-field" method="post" action="${url}api/change_password_api" id="change_password_form" data-role="submitenter">
			<div class="form-group">
				<label for="title">Current Password</label>
				<input type="password" class="form-control validate[required]" id="current_password" name="current_password">
			</div>
			<div class="form-group">
				<label for="title">New Password</label>
				<input type="password" class="form-control validate[required]" id="new_password" name="new_password">
			</div>
			<div class="form-group">
				<label for="title">Confirm New Password</label>
				<input type="password" class="form-control validate[required]" id="confirm_new_password" name="confirm_new_password">
			</div>
			<div class="text-right">
				<button type="submit" class="creat-btn" id="submitchangepassword">Save</button>
			</div>
		</form>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margintop15">
		<ul class="">
			<li class="change_password_help">
				Avoid passwords such as 'password' or 'secret' with a single number added,or those that use your name, business nam, or a family member's name.	
			</li>
			<li class="change_password_help">
				A great way to create a password is to think of a phrase and turn the initials or words into a password. To incorporate the number, you might choose to change any letter o's into zeroes and letter L's into ones. 
			</li>
			<li class="change_password_help">
				For example, if you ran a pet store, you might think of the phrase 'I sell cat food' and then change it to Isellcatfood (where the two L's are changed to l's). Then it is easy for you to remember, but hard for people to guess.
			</li>
		</ul>
	</div>	
</div>