<div class="col-md-12 album-box">
	<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
		<h3 class="head-title">Connect with Stripe to accept payments</h3>
		<p>Enableing Stripe allows users to buy your music on ${title}. Sign Up for free and start selling your music in minutes.
		</p>
		<br/>
		<p>
		Stripe is the easiest way to accept credit cards. Process major international debit or credit cards, including Visa, MasterCard and American Express. You don't need a merchant account, so you can start accepting payments today. 
		</p>
		<br/>
		<p>
		Click <a href="${stripe_connect_url}" id="stripe_connect" class="stripe_connect">
			<img src="${img}stripe_connect.png" />
		</a>, create a free Stripe account in a few minutes and start processing payments immediately. 
		</p>
	</div>
</div>