<h3><span></span>&nbsp;${name}</h3>								
								<article class="follow-details">
									<ul>
										<li><a href="Javascript:void(0)" class="playlist_songs" id="songs_${id}">${no_of_track} Songs</a></li>
										<li><a href="Javascript:void(0)" class="playlist_plays">${plays} plays</a></li>
										<li class="last"><a href="Javascript:void(0)" data-plid="${plid}" data-plname="${name}" data-plimage="${current_plimg}" class="edit_playlist playlist_plays">Edit</a></li>
									</ul>
								</article>