<div class="popup popup_animate">
  <button class="popup-close" type="button" (click)="closePopup()">Close</button>
  <div class="popup-bg"></div>
  <div class="popup-scroll popup_animate_inner">
    <div class="popup-inner">

      <div class="edit-block">
        <div class="title">Edit your profile</div>
        <div class="edit-inner">
          <div class="user-img">
            <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/5/005/0af/0fb/0a56dc9.jpg" alt="">
            <input type="file" name="userImg" id="userImg"/>
            <label for="userImg" class="img-upload">Upload image</label>
          </div>
          <form class="edit-form"
                [formGroup]="editProfileForm"
                (ngSubmit)="onSubmit($event)">
            <div class="inp-block">
              <input type="text"
                     name="firstName"
                     id="userFirstName"
                     placeholder="David"
                     formControlName="firstname"/>
              <label for="userFirstName">First Name</label>
            </div>
            <div class="inp-block">
              <input type="text"
                     name="lastName"
                     id="userLastName"
                     placeholder="Walters"
                     formControlName="lastname"/>
              <label for="userLastName">Last Name</label>
            </div>
            <div class="inp-block">
              <input type="text"
                     name="webLink"
                     id="websiteLink"
                     placeholder="www.imusify.com"
                     formControlName="weburl"/>
              <label for="websiteLink">Website Link</label>
            </div>
            <div class="inp-block">
              <ng-select formControlName="countryId"
                         id="selectCountry"
                         class="custom_select"
                         [options]="countryList"
                         [multiple]="false"
                         [highlightColor]="'#242526'"
                         (selected)="selectCountry($event)">
              </ng-select>
              <label class="select2-label" for="selectCountry">Select Country</label>
            </div>
            <div class="inp-block">
              <ng-select formControlName="stateId"
                         id="selectState"
                         class="custom_select"
                         [options]="stateList"
                         [multiple]="false"
                         [highlightColor]="'#242526'">
              </ng-select>
              <label class="select2-label" for="selectState">Select State</label>
            </div>
            <div class="inp-block">
              <select data-placeholder="Please select city" name="selectCity" id="selectCity">
                <option></option>
                <option value="AB">Abbeville</option>
                <option value="AD">Adamsville</option>
                <option value="AK">Akron</option>
                <option value="AL">Alabaster</option>
                <option value="AN">Andalusia</option>
                <option value="AR">Arab</option>
                <option value="AS">Ashford</option>
                <option value="AT">Athens</option>
                <option value="AU">Auburn</option>
                <option value="AV">Avon</option>
              </select>
              <label class="select2-label" for="selectState">Select City</label>
            </div>
            <div class="inp-block big">
              <textarea name="description"
                        id="description"
                        placeholder="some text here"
                        formControlName="description"></textarea>
              <label for="description">Description</label>
            </div>
            <div class="inp-block medium">
              <my-date-picker class="custom_picker valid_style"
                              name="birthDate" id="birthDate"
                              [options]="myDatePickerOptions"
                              [(ngModel)]="currentDate"
                              formControlName="birthdate"></my-date-picker>
              <label for="birthDate">Date of Birth</label>
            </div>
            <div class="inp-block sbmt">
              <div class="sbm-block">
                <button type="submit">Save Settings</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>