<div class="popup popup_animate">
  <button class="popup-close" type="button" (click)="closePopup()">Close</button>
  <div class="popup-bg"></div>
  <div class="popup-scroll popup_animate_inner">
    <div class="popup-inner">

      <form *ngIf="profileData" class="edit-block"
            [formGroup]="editProfileForm"
            (ngSubmit)="onSubmit($event)">

        <div class="title" (click)="test()">Edit your profile</div>
        <div class="edit-inner">
          <div class="user-img">
            <img [src]="profileData.image" alt="">
            <input type="file"
                   id="userImg"
                   (change)="changeImage($event)"/>
            <label for="userImg" class="img-upload">Upload image</label>
          </div>
          <div class="edit-form">
            <div class="inp-block">
              <input type="text"
                     name="firstName"
                     id="userFirstName"
                     placeholder="David"
                     formControlName="firstname"/>
              <label for="userFirstName">First Name</label>
            </div>
            <div class="inp-block">
              <input type="text"
                     name="lastName"
                     id="userLastName"
                     placeholder="Walters"
                     formControlName="lastname"/>
              <label for="userLastName">Last Name</label>
            </div>
            <div class="inp-block">
              <input type="text"
                     name="webLink"
                     id="websiteLink"
                     placeholder="www.imusify.com"
                     formControlName="weburl"/>
              <label for="websiteLink">Website Link</label>
            </div>
            <div class="inp-block">
              <ng-select formControlName="countryId"
                         id="selectCountry"
                         class="custom_select"
                         [options]="countryList"
                         [multiple]="false"
                         [highlightColor]="'#242526'"
                         (selected)="selectCountry($event)">
              </ng-select>
              <label class="select2-label" for="selectCountry">Select Country</label>
            </div>
            <div class="inp-block">
              <ng-select formControlName="stateId"
                         id="selectState"
                         class="custom_select"
                         [options]="stateList"
                         [multiple]="false"
                         [highlightColor]="'#242526'"
                         (selected)="selectState($event)">
              </ng-select>
              <label class="select2-label" for="selectState">Select State</label>
            </div>
            <div class="inp-block">
              <ng-select formControlName="cityId"
                         id="selectCity"
                         class="custom_select"
                         [options]="cityList"
                         [multiple]="false"
                         [highlightColor]="'#242526'">
              </ng-select>
              <label class="select2-label" for="selectCity">Select City</label>
            </div>
            <div class="inp-block big">
              <textarea name="description"
                        id="description"
                        placeholder="some text here"
                        formControlName="description"></textarea>
              <label for="description">Description</label>
            </div>
            <div class="inp-block medium">
              <my-date-picker class="custom_picker valid_style"
                              name="birthDate" id="birthDate"
                              [options]="myDatePickerOptions"
                              [(ngModel)]="currentDate"
                              formControlName="birthdate"></my-date-picker>
              <label for="birthDate">Date of Birth</label>
            </div>
            <div class="inp-block sbmt">
              <div class="sbm-block">
                <button type="submit" [disabled]="!editProfileForm.valid">Save Settings</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>