<div class="inp-block price-opt">
  <input type="checkbox" [id]="id" (change)="toggleCheck(price)">
  <label class="opt-name" [for]="id">
    <span><ng-content></ng-content></span>
    <i></i>
  </label>
  <div class="price-btn_wrap">
    <button class="price-btn"
            [class.active]="priceStatusCheck"
            [class.hidden]="!priceStatusCheck && priceReady"
            (click)="togglePrice()">
      $ <span *ngIf="priceStatusCheck">{{price}}</span> <span *ngIf="!priceStatusCheck">{{placeholder}}</span>
    </button>

    <input class="hidden-price"
           type="number"
           [class.active]="priceReady"
           [value]="price"
           (change)="changePrice($event)" [placeholder]="placeholder">

    <span class="price-ready-btn"
          [class.active]="priceReady"
          (click)="togglePrice()"></span>
  </div>
</div>