<div class="acc-left">
  <form action="#" class="sign-form change-pass-form">
    <div class="inp-block">
      <input type="password" name="current-pass" id="currPass">
      <label for="currPass">Current password</label>
    </div>
    <div class="inp-block">
      <input type="password" name="password" id="newPass">
      <label for="newPass">New password</label>
    </div>
    <div class="inp-block">
      <input type="password" name="reply-password" id="replyPass">
      <label for="replyPass">Repeat password</label>
    </div>
  </form>
</div>
<div class="acc-right">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi at beatae consequuntur corporis delectus
    deleniti dolor dolorum enim et facilis fugit ipsa iusto modi molestias nulla quod ut vitae,
    voluptates.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid amet aspernatur consequuntur
    doloremque dolorum esse ex expedita hic impedit ipsa libero magni minus odio, quaerat quas sequi
    temporibus
    vel!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi blanditiis hic id ipsum nobis nostrum,
    perspiciatis sapiente ullam voluptatem. Ab eius excepturi porro rem tempore? Autem dolorem minus officia
    sit.</p>
</div>