<div class="modal about-modal fade about" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="col-lg-12 col-md-12 col-sm-12 about-box">
		<button type="button" class="close close_popup"><span aria-hidden="true"></span></button>
		<div class="text-center title-texts">
			<p>about</p>
			<h1>
				<a href="${url}" data-role="home" class="about-logo">
					<img src="${img}logo.svg" alt="" class=" img-responsive">
				</a>
			</h1>
			<span>Your social network for audio hosting!</span>
		</div>
		<div class="contents clearfix">

			<div class="col-lg-12 col-md-12 col-sm-12 artists common-conts">
				<p class="text-center title">artists</p>
				<div class="box">
					<a href="#" class="icon"><span class="music-icon"></span></a>
					<a href="#" class="name">MUSIC PRODUCERS</a>
				</div>
				<div class="box">
					<a href="#" class="icon"><span class="beatm-icon"></span></a>
					<a href="#" class="name">BEATMAKERS</a>
				</div>
				<div class="box">
					<a href="#" class="icon"><span class="djs-icon"></span></a>
					<a href="#" class="name">DJS</a>
				</div>
				<div class="box">
					<a href="#" class="icon"><span class="turn-icon"></span></a>
					<a href="#" class="name">TURNTABLISTS</a>
				</div>
				<div class="box">
					<a href="#" class="icon"><span class="curators-icon"></span></a>
					<a href="#" class="name">CURATORS</a>
				</div>
				<div class="box">
					<a href="#" class="icon"><span class="singers-icon"></span></a>
					<a href="#" class="name">SINGERS</a>
				</div>
				<div class="box">
					<a href="#" class="icon"><span class="rappers-icon"></span></a>
					<a href="#" class="name">RAPPERS</a>
				</div>
				<div class="box">
					<a href="#" class="icon"><span class="voca-icon"></span></a>
					<a href="#" class="name">VOCALISTS</a>
				</div>
				<div class="box">
					<a href="#" class="icon"><span class="speakers-icon"></span></a>
					<a href="#" class="name">SPEAKERS</a>
				</div>
				<div class="box">
					<a href="#" class="icon"><span class="beatb-icon"></span></a>
					<a href="#" class="name">BEATBOXERS</a>
				</div>
				<div class="box">
					<a href="#" class="icon"><span class="comp-icon"></span></a>
					<a href="#" class="name">COMPOSERS</a>
				</div>
				<div class="box">
					<a href="#" class="icon"><span class="songw-icon"></span></a>
					<a href="#" class="name">SONGWRITERS</a>
				</div>
				<div class="box">
					<a href="#" class="icon"><span class="instu-icon"></span></a>
					<a href="#" class="name">INSTRUMENTALISTS</a>
				</div>
				<div class="box">
					<a href="#" class="icon"><span class="bands-icon"></span></a>
					<a href="#" class="name">BANDS</a>
				</div>
			</div>

			<div class="col-lg-12 col-md-12 col-sm-12 executives common-conts">
				<p class="text-center title">Executives</p>
				<div class="box">
					<a href="#" class="icon"><span class="ars-icon"></span></a>
					<a href="#" class="name">A&Rs</a>
				</div>
				<div class="box">
					<a href="#" class="icon"><span class="labels-icon"></span></a>
					<a href="#" class="name">LABELS</a>
				</div>
				<div class="box">
					<a href="#" class="icon"><span class="publis-icon"></span></a>
					<a href="#" class="name">PUBLISHERS</a>
				</div>
				<div class="box">
					<a href="#" class="icon"><span class="manager-icon"></span></a>
					<a href="#" class="name">MANAGERS</a>
				</div>
				<div class="box">
					<a href="#" class="icon"><span class="bookers-icon"></span></a>
					<a href="#" class="name">BOOKERS</a>
				</div>
				<div class="box">
					<a href="#" class="icon"><span class="dist-icon"></span></a>
					<a href="#" class="name">DISTRIBUTERS</a>
				</div>
				<div class="box">
					<a href="#" class="icon"><span class="record-icon"></span></a>
					<a href="#" class="name">RECORDING STUDIOS</a>
				</div>
				<div class="box">
					<a href="#" class="icon"><span class="flim-icon"></span></a>
					<a href="#" class="name">FILM PRODUCER</a>
				</div>
				<div class="box">
					<a href="#" class="icon"><span class="adver-icon"></span></a>
					<a href="#" class="name">ADVERTISING AGENCIES</a>
				</div>
				<div class="box">
					<a href="#" class="icon"><span class="musicsuper-icon"></span></a>
					<a href="#" class="name">MUSIC SUPERVISORS</a>
				</div>
				<div class="box">
					<a href="#" class="icon"><span class="flimcutter-icon"></span></a>
					<a href="#" class="name">FILM CUTTERs</a>
				</div>
				<div class="box">
					<a href="#" class="icon"><span class="lawyers-icon"></span></a>
					<a href="#" class="name">LAWYERS</a>
				</div>
				<div class="box">
					<a href="#" class="icon"><span class="event-icon"></span></a>
					<a href="#" class="name">EVENT MANAGERS</a>
				</div>
				<div class="box">
					<a href="#" class="icon"><span class="band-icon"></span></a>
					<a href="#" class="name">BANDS</a>
				</div>
			</div>

			<div class="col-lg-12 col-md-12 col-sm-12 content common-conts">
				<p class="text-center title">Content</p>
				<div class="col-md-3 col-sm-3 cont">
					<div class="cont-box">
						<h2 class="space1">${minute_uploaded}</h2>
						<p>${minute_uploaded_short_name}</p>
						<small>Minutes Uploaded</small>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 cont">
					<div class="cont-box">
						<h3 class="space2">
							<!-- <span class="big-t">4</span>.678.
							<span class="small-t">232</span> -->
							${total_tracks}
						</h3>
						<p>SONGS</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 cont">
					<div class="cont-box">
						<h3 class="space2"><span class="big-t">5.672</span></h3>
						<p>LICENCES</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 cont">
					<div class="cont-box">
						<h2 class="space1">${likes}</h2>
						<p>${likes_short_name}</p>
						<small>Likes</small>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 cont">
					<div class="cont-box">
						<h2 class="space1">${purchase}</h2>
						<p>${purchase_short_name}</p>
						<small>Purchases</small>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 cont">
					<div class="cont-box">
						<h3 class="space2"><span class="big-t">2</span>.678.<span class="small-t">232</span></h3>
						<p>HASHTAGS</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 cont">
					<div class="cont-box">
						<h3 class="space2"><span class="big-t">1</span>.678.<span class="small-t">232</span></h3>
						<p>MENTIONS</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 cont">
					<div class="cont-box">
						<h3 class="space2"><span class="big-t">${playlists}</span></h3>
						<p>PLAYLISTS</p>
					</div>
				</div>
			</div>

			<div class="col-lg-12 col-md-12 col-sm-12 signedup">
				<p class="text-center title">signed up industry professionals</p>
				<div id="signdp-carousal" class="carousel slide">
					<ol class="carousel-indicators">
						{{each(i,v)  industry_professional}}
						<li data-target="#signdp-carousal" data-slide-to="${i}" class="${v.active}"></li>
						{{/each}}	
					</ol>
					<div class="carousel-inner" role="listbox">
						{{each(i,v)  industry_professional}}
						{{tmpl(v) "#industry_professional_row"}}
						{{/each}}					
					</div>
				</div>
			</div>

			<div class="col-lg-12 col-md-12 col-sm-12 team">
				<p class="text-center title">team</p>
				{{each(i,v)  team_members}}
				{{tmpl(v) "#teamRow"}}
				{{/each}}
			</div>
			
			<div class="col-lg-12 col-md-12 col-sm-12 information">
				<article>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut.<br/><br/>odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</p>					
					<a href="${url}sign_up" id="sign_up" data-t="sign_up" class="popup">BE A PART OF THE COMMUNITY</a>
				</article>
			</div>
		</div>
	</div>
</div>