<div class="popup popup_animate">
    <button class="popup-close" type="button" (click)="closePopup()">Close</button>
    <div class="popup-bg"></div>
    <div class="popup-scroll popup_animate_inner">
        <div class="scroll-bg"></div>
        <div class="popup-inner">
            <div class="sign-block">
                <div class="title">Sign in to imusify</div>
                <div class="tit-info">Use Facebook, Linked in, Soundcloud or your email to sign in. Don't have a Imusify account
                    yet?
                    No worries, <a href="#" (click)="goToSignup()">joining</a> is easy.
                </div>
                <div class="social-logins">
                    <div class="fb soc-login"
                        (click)="loginFB()">
                        <span>Facebook</span>
                    </div>
                    <div class="in soc-login"
                        (click)="loginLD()">
                        <span>LinkedIn</span>
                    </div>

                    <div class="sc soc-login"><span>Souncloud</span></div>
                </div>
                <div class="or">Or</div>

                <form [formGroup]="userLoginForm" (ngSubmit)="login()" class="form sign-form">
                    <div class="inp-block">
                        <input class="form__field" type="text" formControlName="email" name="email" id="email"/>
                        <div *ngIf="formErrors.username" class="error_box">
                            {{ formErrors.username }}
                        </div>
                        <label for="email">Email or Username</label>
                    </div>

                    <div class="inp-block">
                        <input class="form__field" type="password" formControlName="password" name="password" id="password"/>
                        <div *ngIf="formErrors.password" class="error_box">
                            {{ formErrors.password }}
                        </div>
                        <label for="password">Password</label>
                    </div>

                    <label for="signInRemember" class="sign-label">
                        <input class="form__field" type="checkbox" formControlName="rememberme" name="rememberme" value="1" id="signInRemember"/>
                        <i></i>
                        <span>Keep me signed in</span>
                    </label>         

                    <div class="sbm-block">
                        <button type="submit" [disabled]="!userLoginForm.valid">Sign In</button>
                        <a href="#">Forgot password?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
