<div id="form-bg" class="sign_up modal fade">
					<div class="col-md-12 close-icon">
						<a class="close_popup close"><span></span></a>
					</div>
					<div class="col-md-12">
						<h1>Join Imusify</h1>
						<p>Getting in is easy. Use one of your social networks or start fresh with an email address. Already have an Imusify account? <a href="${url}sign_in" data-t="sign_in" id="sign_in" class="popup">Sign in</a>.</p>
					</div>
					<div class="col-md-12 media-icons">
						<a href="javascript:void(0)" onclick="fblogin_func()" id="fb_signup" data-t="sign_up_middlepage" class="fb popup"><span></span></a>
						<a href="javascript:void(0)" onclick="lilogin_func()" class="in" id="in_signup"><span></span></a>
						<a href="javascript:void(0)" onclick="sclogin_func()" class="sc" id="sc_signup"><span></span></a>
						<a href="${url}sign_up/sign_up_mail" id="sign_up_mail"  data-t="sign_up_mail" class="popup gm"><span></span></a>
					</div>
</div>