@keyframes popup {
    to {
        transform: scale(1);
    }
}
@keyframes popup-inner {
    to {
        transform: perspective(1600px) scale(1) rotate3d(0, 1, 0, 0deg);
        transform-origin: 50% 0;
        opacity: 1;
    }
}

/*.preloader {*/
    /*position: fixed;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*display: block;*/
    /*z-index: 888;*/
/*}*/

.popup {
    z-index: 10;
}
.popup_animate {
    animation-name: popup;
    animation-fill-mode: both;
}
.popup .popup-bg {
    opacity: .95;
}
.popup_animate_inner {
    animation-name: popup-inner;
    animation-duration: 0.35s;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.6, 1.32);
    animation-fill-mode: both;
}
input.ng-dirty.ng-invalid, textarea.ng-dirty.ng-invalid {
    border: 1px solid #e7283a !important;
}
.valid_style.ng-dirty.ng-invalid {
    border: 1px solid #e7283a !important;
}
.error_box {
    margin-top: -15px;
}




.feed-boxes-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 135px;
}
.feed-boxes-flex .feed-box {
    flex: 1 1 342px;
}
.share_container {
    font-size: 1rem;
}

@keyframes fade {
    from {
        opacity: 0;
        top: 40%;
    }
    to {
        opacity: 1;
        top: 50%;
    }
}
.shared_popup {
    background: #121314;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 3px;
    animation-name: fade;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@media screen and (min-width: 720px) {
    .shared_popup {
        transform: translate(-34%, -50%);
    }
}
@media screen and (min-width: 1024px) {
    .shared_popup {
        transform: translate(-20%, -50%);
    }
}

.popup-close {
    cursor: pointer;
}

