.popup--email {

    .popup__title {
        margin-bottom: 60px;
    }

    .popup__icon .icon--mail {
        background-size: contain;
        margin: 35px auto 20px auto;
        height: 80px;
        width:  80px;
    }

    .flex-container {
        justify-content: center;
    }

    .form {
        margin:      0;
        margin-left: 50px;
    }
}