#player {
  left: 20px;
}
.timeline {
  transform: translateY(20%);
  cursor: pointer;
  * {
    cursor: pointer;
  }
}
#player .big-block .btn-play,
#player .big-block .btn-pause {
  width: 56px;
  height: 56px;
}
.big-block .big-top {
  display: flex;
}
.big-block__img {
  width: 135px;
  height: 135px;
  display: none;
  
  &.active {
    display: block;
  }
  &.next-slide {
    display: block;
    background: red !important;
  }
  > a  {
    display: block;
    height: 100%;
    width: 100%;
    > .bg_img {
      display: block;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
  }
}
swiper{
  height: 300px;
  width: 600px;
}