#player {
  left: 20px;
}
.timeline {
  transform: translateY(20%);
  cursor: pointer;
  * {
    cursor: pointer;
  }
}
#player .big-block .btn-play,
#player .big-block .btn-pause {
  width: 56px;
  height: 56px;
}
.big-block .big-top {
  display: flex;
  overflow: hidden;
  justify-content: center;
}
.big-block__img {
  display: block;
  width: 135px;
  height: 135px;
  transform: scale(0);
  transition: all 0.2s linear;
  z-index: -1;
  position: absolute;
  
  &.active {
    margin-left: 10px;
    margin-right: 10px;
    transform: scale(1);
    z-index: 1;
    position: relative;
  }
  &.slide-1, &.slide-2, &.slide-3 {
    z-index: 1;
    position: relative;
  }
  &.slide-1 {
    transform: scale(0.9);
  }
  &.slide-2 {
    transform: scale(0.8);
  }
  &.slide-3 {
    transform: scale(0.7);
  }
  > a  {
    display: block;
    height: 100%;
    width: 100%;
    > .bg_img {
      display: block;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
  }
}
swiper{
  height: 300px;
  width: 600px;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: darken(#c23a48, 20%);
  border-radius: 1.3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: darken(#c23a48, 20%);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: darken(#c23a48, 20%);
  border-radius: 1.3px;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: darken(#c23a48, 10%);
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #c23a48;
}
input[type=range]::-ms-fill-upper {
  background: #c23a48;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-upper {
  background: #c23a48;
}
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 60px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: #c23a48;
  border-radius: 1.3px;
}
input[type=range]::-webkit-slider-thumb {
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #c23a48;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: #c23a48;
  border-radius: 1.3px;
}
input[type=range]::-moz-range-thumb {
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #c23a48;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: #c23a48;
  border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #c23a48;
}
input[type=range]:focus::-ms-fill-upper {
  background: #c23a48;
}

.svg-icon-volume {
  fill: #fff;
  opacity: .4;
  margin-top: 3px;
  &.is-volume-min .wave {
    visibility: hidden;
  }
  &:not(.is-volume-max) .wave-3 {
    visibility: hidden;
  }
}
.player-inner .play-type {
  right: -7%;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ctrl-btn {
  cursor: pointer;
  &:hover {
    .svg-icon-volume {
      opacity: 0.8;
    }
  }
}

.wrap-volume {
  position: relative;
  
  .range-vol {
    position: absolute;
    top: -8px;
    left: 17px;
    width: 0;
    opacity: 0;
    transition: width 0.2s linear;
  }
  &:hover {
    .range-vol {
      width: 60px;
      opacity: 1;
    }
  }
}