<div id="player" [class.big]="isBig">
  <div class="queue-table-wrap">
    <table class="song-table ar`tists">
      <thead>
      <tr>
        <th>Song</th>
        <th>Artists</th>
      </tr>
      </thead>
      <tbody>
      <tr class="active">
        <td>Border</td>
        <td>Come Again</td>
      </tr>
      <tr>
        <td>A Sky Full Of Stars</td>
        <td>Coldplay</td>
      </tr>
      <tr>
        <td>Problem</td>
        <td>Arianna Grade</td>
      </tr>
      <tr>
        <td>Summer</td>
        <td>Calvin Harris</td>
      </tr>
      <tr>
        <td>Falling for You</td>
        <td>The 1975</td>
      </tr>
      <tr>
        <td>Sing</td>
        <td>The 1975</td>
      </tr>
      <tr>
        <td>Fancy</td>
        <td>Ed Sheeran</td>
      </tr>
      <tr>
        <td>Falling for You</td>
        <td>The 1975</td>
      </tr>
      <tr>
        <td>Sing</td>
        <td>The 1975</td>
      </tr>
      <tr>
        <td>Fancy</td>
        <td>Ed Sheeran</td>
      </tr>
      <tbody>
    </table>
  </div>
  <!--Normal & Hover-->
  <div class="big-block" *ngIf="currentPlayedTrack">
    <div class="big-top">
        <div class="big-block__img"
             *ngFor="let record of records; let i = index"
             [class.active]="record.id == currentPlayedTrack.id" [appAudioSlider]="record.id == currentPlayedTrack.id">
          <a href="#" class="top-one">
            <span class="bg_img" [ngStyle]="{'background-image': 'url(' + record.track_image + ')'}"></span>
          </a>
        </div>
    </div>
    <div class="big-bot">
      <div class="track-info">
        <div class="info-left">
          <img *ngIf="currentPlayedTrack" [src]="currentPlayedTrack.track_image" alt=""/>
        </div>
        <div class="info-right">
          <a class="title" href="#"><span>Border</span></a>
          <a class="subtitle" href="#"><span>Come Again</span></a>
        </div>
      </div>
      <div class="controls">
        <button class="ctrl-btn btn-backwards"
                type="button"
                title="Fast backwards"
                (click)="playPreviousTrack()"></button>

        <button type="button"
                class="ctrl-btn btn-play"
                *ngIf="!isRecordPlayed"
                (click)="playTrack()"></button>
        <button type="button"
                class="ctrl-btn btn-pause"
                *ngIf="isRecordPlayed"
                (click)="pauseTrack()"></button>

        <button class="ctrl-btn btn-forward"
                type="button"
                title="Fast Forward"
                (click)="playNextTrack()"></button>
      </div>
    </div>
  </div>
  <div *ngIf="currentPlayedTrack" class="player-bg"
       [ngStyle]="{'background-image': 'url(' + currentPlayedTrack.track_image + ')'}">
  </div>
  <div class="player-inner" *ngIf="currentPlayedTrack">
    <div class="track-info">
      <div class="info-left">
        <img [src]="currentPlayedTrack.track_image" alt=""/>
      </div>
      <div class="info-right">
        <a class="title"
           href="#"><span>{{currentPlayedTrack.artist_name}}</span></a>
        <a class="subtitle"
           href="#"><span>{{currentPlayedTrack.title}}</span></a>
      </div>
    </div>
    <div class="player-center">
      <div class="controls">
        <button class="ctrl-btn btn-backwards"
                type="button"
                title="Fast backwards"
                (click)="playPreviousTrack()"></button>
        <button class="ctrl-btn btn-play"
                type="button"
                *ngIf="!isRecordPlayed"
                (click)="playTrack()"></button>
        <button class="ctrl-btn btn-pause"
                type="button"
                *ngIf="isRecordPlayed"
                (click)="pauseTrack()"></button>
        <button class="ctrl-btn btn-forward"
                type="button"
                title="Fast Forward"
                (click)="playNextTrack()"></button>
      </div>

      <div class="play-time">
        <span class="time-passed">{{currentTime | timeFormat}}</span>
        <div id="waveform" class="timeline">
          <!--<progress id="progress" class="progress progress-striped" value="0" max="100"></progress>-->
        </div>
        <span class="duration">{{durationTime}}</span>
      </div>

      <div class="play-type">
        <button class="ctrl-btn btn-shuffle"
                type="button"
                title="Shuffle"
                [class.active]="isShuffleOn"
                (click)="toggleShuffle()"></button>
        <button type="button" 
                class="ctrl-btn btn-repeat"
                title="Repeat indefinitely"
                [class.active]="isTrackRepeated"
                (click)="toggleRepeat()"></button>
      </div>
    </div>

    <div class="player-queue">
      <button type="button" class="ctrl-btn btn-queue" title="Show Queue"></button>
      <button class="ctrl-btn btn-plus"
              title="Open big"
              type="button"
              (click)="togglePlayer()"></button>
    </div>
  </div>
</div>