#player {
  left: 20px;
}
.timeline {
  transform: translateY(20%);
  cursor: pointer;
  * {
    cursor: pointer;
  }
}
#player .big-block .btn-play,
#player .big-block .btn-pause {
  width: 56px;
  height: 56px;
}
.big-block .big-top {
  display: flex;
  overflow: hidden;
  justify-content: center;
}
.big-block__img {
  display: block;
  width: 135px;
  height: 135px;
  transform: scale(0);
  transition: all 0.2s linear;
  z-index: -1;
  position: absolute;
  
  &.active {
    margin-left: 10px;
    margin-right: 10px;
    transform: scale(1);
    z-index: 1;
    position: relative;
  }
  &.slide-1, &.slide-2, &.slide-3 {
    z-index: 1;
    position: relative;
  }
  &.slide-1 {
    transform: scale(0.9);
  }
  &.slide-2 {
    transform: scale(0.8);
  }
  &.slide-3 {
    transform: scale(0.7);
  }
  > a  {
    display: block;
    height: 100%;
    width: 100%;
    > .bg_img {
      display: block;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
  }
}
swiper{
  height: 300px;
  width: 600px;
}