<div class="main prof-main">
  <div class="inner-scroll profile-inner">

    <div class="profile-top" *ngIf="profile">
      <div class="prof-top-bg" style="background-image: url('/assets/images/profile/1.jpg');"></div>
      <div class="prof-top-left">
        <div class="prof-top-follow">
          <div class="foll-one"><b>{{profile.followers}}</b> FOLLOWERS</div>
          <i class="sep"></i>
          <div class="foll-one"><b>{{profile.following}}</b> FOLLOWING</div>
        </div>
        <div class="profile-info">
          <div class="profile-image img-box">
            <img [src]="profile.user_image" alt=""/>
            <i><span class="prof-status away"></span></i>
          </div>
          <div class="profile-name">{{profile.firstname}} {{profile.lastname}}</div>
          <button type="button"
                  class="prof-foll-btn"
                  *ngIf="!profile.my_profile">FOLLOW</button>
          <div class="prof-foll-you">FOLLOWING YOU<i></i></div>
        </div>
      </div>
      <div class="prof-top-right">
        <div class="top-playlist-tit">
          Ranas’ Top Playlists
          <a href="#">See all <i></i></a>
        </div>
        <div class="top-playlist">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="img">
                  <img src="/assets/images/feed-boxes/featured-track-bg.jpg" alt=""/>
                  <div class="vinyl">
                    <button class="box-btn play" title="play"></button>
                  </div>
                </div>
                <div class="name">Untitled Groove</div>
                <ul class="info">
                  <li>127 Songs</li>
                  <li>89 Followers</li>
                  <li>1.487 Likes</li>
                </ul>
              </div>
              <div class="swiper-slide">
                <div class="img">
                  <img src="/assets/images/profile/vinil-face1.jpg" alt=""/>
                  <div class="vinyl">
                    <button class="box-btn play" title="play"></button>
                  </div>
                </div>
                <div class="name">Untitled Groove</div>
                <ul class="info">
                  <li>127 Songs</li>
                  <li>89 Followers</li>
                  <li>1.487 Likes</li>
                </ul>
              </div>
              <div class="swiper-slide">
                <div class="img">
                  <img src="/assets/images/feed-boxes/2.jpg" alt=""/>
                  <div class="vinyl">
                    <button class="box-btn play" title="play"></button>
                  </div>
                </div>
                <div class="name">Untitled Groove</div>
                <ul class="info">
                  <li>127 Songs</li>
                  <li>89 Followers</li>
                  <li>1.487 Likes</li>
                </ul>
              </div>
              <div class="swiper-slide">
                <div class="img">
                  <img src="/assets/images/feed-boxes/3.jpg" alt=""/>
                  <div class="vinyl">
                    <button class="box-btn play" title="play"></button>
                  </div>
                </div>
                <div class="name">Untitled Groove</div>
                <ul class="info">
                  <li>127 Songs</li>
                  <li>89 Followers</li>
                  <li>1.487 Likes</li>
                </ul>
              </div>
              <div class="swiper-slide">
                <div class="img">
                  <img src="/assets/images/feed-boxes/4.jpg" alt=""/>
                  <div class="vinyl">
                    <button class="box-btn play" title="play"></button>
                  </div>
                </div>
                <div class="name">Untitled Groove</div>
                <ul class="info">
                  <li>127 Songs</li>
                  <li>89 Followers</li>
                  <li>1.487 Likes</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>

      <div class="tab-panel">
        <a class="tab-pnl-btn active" href="#">Only me</a>
        <a class="tab-pnl-btn" href="#">Popular Tracks</a>
        <a class="tab-pnl-btn" href="#">New Tracks</a>
        <a class="tab-pnl-btn" href="#">Albums</a>
      </div>
    </div>

  </div>
</div>