  <table class="wrapper" style="border-collapse: collapse;border-spacing: 0;background-color: #f1f1f1;width: 100%;min-width: 620px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;table-layout: fixed">
        <tbody><tr>
          <td style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: top">
            <center>
              <table style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto">
                <tbody><tr class="border" style="font-size: 1px;line-height: 1px;background-color: #e3e3e3;height: 1px"><td style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: top;line-height: 1px" colspan="3">&nbsp;</td></tr>
                <tr>
                  <td class="border" style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: top;font-size: 1px;line-height: 1px;background-color: #e3e3e3;width: 1px">&#8203;</td>
                  <td style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: top">
                    <table class="one-col" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto;width: 600px;background-color: #ffffff">
                      <tbody><tr>
                        <td class="column" style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: top;text-align: left">
                          <div><div class="column-top" style="font-size: 50px;line-height: 50px">&nbsp;</div></div>
                            <table class="contents" style="border-collapse: collapse;border-spacing: 0;width: 100%">
                              <tbody><tr>
                                <td class="padded" style="padding-top: 0;padding-bottom: 0;padding-left: 50px;padding-right: 50px;vertical-align: top">
                                  
        <h1 style="Margin-top: 0;font-weight: 400;letter-spacing: -0.02em;font-family: sans-serif;color: #3b3e42;font-size: 40px;line-height: 48px;Margin-bottom: 20px">Start designing your email</h1><p style="Margin-top: 0;text-rendering: optimizeLegibility;font-family: sans-serif;color: #60666d;Margin-bottom: 24px;font-size: 15px;line-height: 24px">Add new pieces of content like text, images and buttons to your email by dragging the tiles on the left where you want them to go.</p><p style="Margin-top: 0;text-rendering: optimizeLegibility;font-family: sans-serif;color: #60666d;Margin-bottom: 24px;font-size: 15px;line-height: 24px">Add different layouts to your email by clicking on the green <strong style="font-weight: bold">Add layout</strong> button below.</p>
      
                                </td>
                              </tr>
                            </tbody></table>
                          
                          <div class="column-bottom" style="font-size: 26px;line-height: 26px">&nbsp;</div>
                        </td>
                      </tr>
                    </tbody></table>
                  </td>
                  <td class="border" style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: top;font-size: 1px;line-height: 1px;background-color: #e3e3e3;width: 1px">&#8203;</td>
                </tr>
              </tbody></table>
            </center>
          </td>
        </tr>
      </tbody></table>
    
      <table class="wrapper" style="border-collapse: collapse;border-spacing: 0;background-color: #f1f1f1;width: 100%;min-width: 620px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;table-layout: fixed">
        <tbody><tr>
          <td style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: top">
            <center>
              <table style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto">
                <tbody><tr class="border" style="font-size: 1px;line-height: 1px;background-color: #e3e3e3;height: 1px"><td style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: top;line-height: 1px" colspan="3">&nbsp;</td></tr>
                <tr>
                  <td class="border" style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: top;font-size: 1px;line-height: 1px;background-color: #e3e3e3;width: 1px">&#8203;</td>
                  <td style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: top">
                    <table class="one-col" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto;width: 600px;background-color: #ffffff">
                      <tbody><tr>
                        <td class="column" style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: top;text-align: left">
                          <div><div class="column-top" style="font-size: 50px;line-height: 50px">&nbsp;</div></div>
                            <table class="contents" style="border-collapse: collapse;border-spacing: 0;width: 100%">
                              <tbody><tr>
                                <td class="padded" style="padding-top: 0;padding-bottom: 0;padding-left: 50px;padding-right: 50px;vertical-align: top">
                                  
        <h1 style="Margin-top: 0;font-weight: 400;letter-spacing: -0.02em;font-family: sans-serif;color: #3b3e42;font-size: 40px;line-height: 48px;Margin-bottom: 20px">Article</h1><blockquote style="Margin-top: 0;Margin-right: 0;Margin-bottom: 0;padding-right: 0;font-style: italic;border-left-color: #eceef1;border-left-style: solid;border-left-width: 4px;Margin-left: 0;padding-left: 18px"><p style="Margin-top: 0;text-rendering: optimizeLegibility;font-family: sans-serif;color: #60666d;Margin-bottom: 24px;font-size: 15px;line-height: 24px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae sollicitudin quam. Donec at mattis orci. Phasellus quam nulla, fringilla ut condimentum vel, aliquet vitae eros. Suspendisse potenti.</p></blockquote>
      
                                </td>
                              </tr>
                            </tbody></table>
                          
                          <div class="column-bottom" style="font-size: 26px;line-height: 26px">&nbsp;</div>
                        </td>
                      </tr>
                    </tbody></table>
                  </td>
                  <td class="border" style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: top;font-size: 1px;line-height: 1px;background-color: #e3e3e3;width: 1px">&#8203;</td>
                </tr>
              </tbody></table>
            </center>
          </td>
        </tr>
      </tbody></table>
    
      <table class="wrapper" style="border-collapse: collapse;border-spacing: 0;background-color: #f1f1f1;width: 100%;min-width: 620px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;table-layout: fixed">
        <tbody><tr>
          <td style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: top">
            <center>
              <table class="border" style="border-collapse: collapse;border-spacing: 0;font-size: 1px;line-height: 1px;background-color: #e3e3e3;Margin-left: auto;Margin-right: auto" width="602">
                <tbody><tr><td style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: top">&nbsp;</td></tr>
              </tbody></table>
            </center>
          </td>
        </tr>
      </tbody></table>
    
    <table class="wrapper" style="border-collapse: collapse;border-spacing: 0;background-color: #f1f1f1;width: 100%;min-width: 620px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;table-layout: fixed">
      <tbody><tr>
        <td style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: top">
          <center>
            <table class="footer" style="border-collapse: collapse;border-spacing: 0;Margin-right: auto;Margin-left: auto;width: 602px">
              <tbody><tr>
                <td style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: top">
                  <div class="spacer" style="font-size: 11px;line-height: 50px;color: #9b9b9b;font-family: sans-serif">&nbsp;</div>
                  <center>
                    <table class="social" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto">
                      <tbody><tr>
                        
                        
                        
                      </tr>
                    </tbody></table>