<div class="popup popup_animate">
  <button class="popup-close" (click)="closePopup()" type="button">Close</button>
  <div class="popup-bg"></div>
  <div class="popup-scroll popup_animate_inner">
    <div class="scroll-bg"></div>
    <div class="popup-inner">

      <div class="sign-block">
        <div class="title">Join Imusify</div>
        <div class="tit-info">Getting in is easy. Use one of your social networks or start fresh with an email address. Already have an Imusify account?
          <a href="#" (click)="goTologin()">Sign in</a>.
        </div>
        <div class="social-logins">
          <a href="#" class="fb soc-login" data-type="fb"><span>Facebook</span></a>
          <a href="#" class="in soc-login" data-type="in"><span>LinkedIn</span></a>
          <a href="#" class="sc soc-login" data-type="sc"><span>Souncloud</span></a>
          <a href="#" (click)="openEmail()" class="em soc-login"><span>Mail</span></a>
        </div>

      </div>
    </div>
  </div>
</div>
