<div class="popup popup_animate">
    <button class="popup-close"  type="button" (click)="goToSignup()">Close</button>
    <div class="popup-bg"></div>
    <div class="popup-scroll popup_animate_inner">
        <div class="popup-inner">

            <div class="eJoin-block">
                <div class="title">Join with your email address</div>
                <div class="eJoin-inner">
                    <div class="eJoin-img">Mail
                        <div class="mail-ico"></div>
                    </div>

                    <form class="form eJoin-form" [formGroup]="signupEmailForm" (ngSubmit)="signUp()" >

                        <div class="inp-block">
                            <input type="text" formControlName="fname" name="firstName" id="userFirstName" placeholder="David" />
                            <label for="userFirstName">First Name</label>
                        </div>

                        <div class="inp-block">
                            <input type="text" formControlName="lname" name="lastName" id="userLastName" placeholder="Walters" />
                            <label for="userLastName">Last Name</label>
                        </div>
                        <div class="inp-block">
                            <input type="text" formControlName="uname" name="userNickname" id="userNickname" placeholder="MusicLover" />
                            <label for="userNickname">Username</label>
                        </div>
                        <div class="inp-block">
                            <input type="password" formControlName="password" name="userPass" id="userPass" placeholder="******" />
                            <label for="userPass">Password</label>
                        </div>
                        <div class="inp-block">
                            <input type="email" formControlName="email" name="userEmail" id="userEmail" placeholder="my@email.com" />
                            <label for="userEmail">Email</label>
                        </div>
                        <div class="inp-block">
                            <ng-select formControlName="gender" id="selectGender" class="custom_select" [options]="genderData" noFilter="1" highlightColor="#242526">
                            </ng-select>
                            <label class="select2-label" for="selectGender">Select Gender</label>
                        </div>
                        <div class="inp-block">
                            <my-date-picker 
                                class="custom_picker valid_style"
                                name="myDate" id="myDate"
                                [options]="myDatePickerOptions"></my-date-picker>
                            <label for="myDate">Date of Birth</label>
                        </div>
                        <div class="inp-block">
                            <input type="text" name="invitationCode" id="invitationCode" />
                            <label for="invitationCode">Invitation Code</label>
                        </div>

                        <div class="form__group">
                            <label for="signIacknowledge" class="sign-label">
                                <input type="checkbox" name="iacknowledge" value="1" id="signIacknowledge"/>
                                <i></i>
                                <span>I acknowledge that I have read and accept the Terms of Use Agreement and consent to the Privacy Policy and Video Privacy Policy.</span>
                            </label>
                        </div>

                        <div class="form__group">
                            <label for="signSubscribe" class="sign-label">
                                <input type="checkbox" name="subscribe" value="1" id="signSubscribe"/>
                                <i></i>
                                <span>Subscribe to Newsletter</span>
                            </label>
                        </div>

                        <div class="form__group">
                            <label for="privacyPolicy" class="policy-label">
                                <input type="checkbox" formControlName="agree" name="privacyPolicy" value="0" id="privacyPolicy">
                                <i></i>
                                <span class="privacy-info">I acknowledge that I have read and accept the <a href="#">Terms of Use Agreement</a> and consent to the <a href="#">Privacy Policy</a> and <a href="#">Video Privacy Policy</a>.</span>
                            </label>
                            <p class="is-signed">Already have an Imusify account? <a href="#" (click)="goToLogin()">Sign in</a></p>
                        </div>
                        <div class="inp-block">
                            <div class="sbm-block">
                                <button type="submit" [disabled]="!signupEmailForm.valid">Create Account</button>
                            </div>
                        </div>
                    </form>
                </div><!-- /.eJoin-inner -->
            </div><!-- /.eJoin-block -->
        </div><!-- /.popup-inner -->
    </div><!-- /.popup-scroll -->
</div><!-- /.popup -->