<article *ngIf="track" class="upload-audio-item">
    <div class="upload-img">
        <div class="img-container">
            <img [src]="track.track_image" alt="">
        </div>
        <button class="audio-btn play" title="play"></button>
    </div>
    <div class="audio-content">
        <div class="song-info-head">
            <div class="left-part">
                <div class="song-info-title">Track info</div>
                <span class="song-added">Added on {{track.createdDate}}</span>
            </div>
            <div class="right-part">
                <a class="song-options edit" href="#" [routerLink]="['edit/'+ track.id]">edit</a>
                <i class="sep" style="top:0;"></i>
                <button class="song-options remove">remove</button>
            </div>
        </div>
        <div class="song-info-content">
            <div class="row-data">
                <div class="row-head left">{{track.main_title}}</div>
                {{track.title}}
            </div>
            <div class="row-data">
                <div class="row-head ico-time"></div>
                {{track.timelength}}
            </div>
            <div class="row-data">
                <div class="row-head">plays</div>
                {{track.plays}}
            </div>
            <div class="row-data">
                <div class="row-head">likes</div>
                {{track.likes}}
            </div>
            <div class="row-data">
                <div class="row-head">comments</div>
                {{track.comments}}
            </div>
            <div class="row-data">
                <div class="row-head">shares</div>
                {{track.shares}}
            </div>
        </div>
        <div class="song-tags">
            <div class="tags-title" [hidden]="!track.tags">Tags</div>
            <a class="song-tag" href="#" *ngFor="let tag of track.tags">{{tag}}</a>
        </div>
    </div>
</article>