<div class="popup popup_animate">
  <button class="popup-close" type="button" (click)="closePopup()">Close</button>
  <div class="popup-bg"></div>
  <div class="popup-scroll popup_animate_inner">
    <div class="popup-inner">

      <div class="roles-block">
        <div class="title" (click)="testRole()">What do you do?</div>
        <div class="roles-inner">
          <form method="post" class="role-form" *ngIf="roles">

            <div class="inp-block" *ngFor="let role of roles">
              <label [for]="role.id" class="roles-label">
                <input type="checkbox"
                       [checked]="role.selected"
                       [name]="role.role"
                       [value]="role.id"
                       [id]="role.id" (change)="toggleRole(role)">
                <i></i>
                <span>{{role.role}}</span>
              </label>
            </div>

            <div class="inp-block">
              <div class="roles-sbm">
                <button type="button" (click)="saveUserRoles()">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>