<div class="main check-main">
    <div class="checkout-inner">
        <div class="check-left">
            <div class="check-bg" style="background-image:url('/assets/images/checkout/bg.png');"></div>
            <div class="check-left-top">
                <div class="check-prof-info">
                    <img class="check-prof-image" src="/assets/images/checkout/1.png" alt=""/>
                    <h2 class="check-prof-name">
                        Trentemoller <span>Norway</span>
                    </h2>
                    <div class="check-prof-follow">
                        <div class="foll-item"><b>89</b> followers</div>
                        <i class="sep"></i>
                        <div class="foll-item"><b>182</b> songs</div>
                        <i class="sep"></i>
                        <div class="foll-item"><b>12</b> albums</div>
                    </div>
                </div>
                <table class="check-prof-table">
                    <tr>
                        <td>GENRE</td>
                        <td>Electronic</td>
                    </tr>
                    <tr>
                        <td>LENGTH</td>
                        <td>4:32</td>
                    </tr>
                    <tr>
                        <td>LABEL</td>
                        <td>Lorem Ipsum</td>
                    </tr>
                    <tr>
                        <td>RELEASE</td>
                        <td>2015</td>
                    </tr>
                </table>
                <div class="check-track">
                    <button class="box-btn play" title="play"></button>
                    <div class="track-info">
                        <a href="#" class="title">Border</a>
                        <a href="#" class="subtitle">Trentemoller</a>
                    </div>
                    <div class="track-timeline">
                        <div class="sound-wave"><span></span></div>
                        <i class="duration">2:48</i>
                    </div>
                </div>
            </div>
            <div class="check-left-bot">
                <div class="license-type">
                    <div class="tit">CHOOSE YOUR LICENCE TYPE</div>
                    <div class="type-wrap">
                        <input type="checkbox" id="type1" name="type[]">
                        <label for="type1" class="type-one">
                                    <span class="type-one-inn">
                                        <b>Album</b>
                                    </span>
                        </label>
                        <input type="checkbox" id="type2" name="type[]">
                        <label for="type2" class="type-one">
                                    <span class="type-one-inn">
                                        <b>Single</b>
                                    </span>
                        </label>
                        <input type="checkbox" id="type3" name="type[]">
                        <label for="type3" class="type-one">
                                    <span class="type-one-inn">
                                        <b>Advertising</b>
                                    </span>
                        </label>
                        <input type="checkbox" id="type4" name="type[]">
                        <label for="type4" class="type-one">
                                    <span class="type-one-inn">
                                        <b>Corporate/Commercial film</b>
                                    </span>
                        </label>
                        <input type="checkbox" id="type5" name="type[]">
                        <label for="type5" class="type-one">
                                    <span class="type-one-inn">
                                        <b>Documentary/Indie/Student film</b>
                                    </span>
                        </label>
                        <input type="checkbox" id="type6" name="type[]">
                        <label for="type6" class="type-one">
                                    <span class="type-one-inn">
                                        <b>Film/TV Show</b>
                                    </span>
                        </label>
                        <input type="checkbox" id="type7" name="type[]">
                        <label for="type7" class="type-one">
                                    <span class="type-one-inn">
                                        <b>Software</b>
                                    </span>
                        </label>
                        <input type="checkbox" id="type8" name="type[]">
                        <label for="type8" class="type-one">
                                    <span class="type-one-inn">
                                        <b>Internet Video</b>
                                    </span>
                        </label>

                        <input type="checkbox" id="type9" name="type[]">
                        <label for="type9" class="type-one">
                                    <span class="type-one-inn">
                                        <b>Live Event</b>
                                    </span>
                        </label>
                        <input type="checkbox" id="type10" name="type[]">
                        <label for="type10" class="type-one">
                                    <span class="type-one-inn">
                                        <b>Music on Hold</b>
                                    </span>
                        </label>
                        <input type="checkbox" id="type11" name="type[]">
                        <label for="type11" class="type-one">
                                    <span class="type-one-inn">
                                        <b>Music Production and Audio Project/Lease (10001 to 50000 copies)</b>
                                    </span>
                        </label>
                        <input type="checkbox" id="type12" name="type[]">
                        <label for="type12" class="type-one">
                                    <span class="type-one-inn">
                                        <b>Music Production and Audio Project/Lease (1001 to 10000 copies)</b>
                                    </span>
                        </label>
                        <input type="checkbox" id="type13" name="type[]">
                        <label for="type13" class="type-one">
                                    <span class="type-one-inn">
                                        <b>Music Production and Audio Project/Lease (over 50000 copies)</b>
                                    </span>
                        </label>
                        <input type="checkbox" id="type14" name="type[]">
                        <label for="type14" class="type-one">
                                    <span class="type-one-inn">
                                        <b>Music Production and Audio Project/Lease (up to 10000 copies)</b>
                                    </span>
                        </label>
                        <input type="checkbox" id="type15" name="type[]">
                        <label for="type15" class="type-one">
                                    <span class="type-one-inn">
                                        <b>Podcast</b>
                                    </span>
                        </label>
                        <input type="checkbox" id="type16" name="type[]">
                        <label for="type16" class="type-one">
                                    <span class="type-one-inn">
                                        <b>Website</b>
                                    </span>
                        </label>
                        <input type="checkbox" id="type17" name="type[]">
                        <label for="type17" class="type-one">
                                    <span class="type-one-inn">
                                        <b>Non profit</b>
                                    </span>
                        </label>

                    </div>
                </div>
                <div class="your-card">
                    <div class="tit">YOUR CART</div>
                    <form action="#" class="cart-wrap">
                        <div class="cart-top">
                            <table>
                                <tr>
                                    <td>Item Name</td>
                                    <td>Border - Trentemoller</td>
                                </tr>
                                <tr>
                                    <td>Item Type</td>
                                    <td>
                                        <select name="" id="">
                                            <option value="mp3">MP3 - 300kbps</option>
                                            <option value="wav">WAV - 384kbps</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="cart-body">
                            <div class="body-tit">Licence</div>
                            <div class="cart-line">
                                <span>Internet Video</span><b>$3,60</b>
                            </div>
                            <div class="cart-line">
                                <span>Documentary, Indie, Student Film</span><b>$72,40</b>
                            </div>
                        </div>
                        <div class="cart-bot">
                            <div class="cart-line">
                                <span>Total</span><b>$76,00</b>
                            </div>
                            <button type="submit" class="btn btn-buy">BUY NOW</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="check-right">
            <div class="check-r-one">
                <div class="r-one-top">
                    <span>Similar Songs</span>
                </div>
                <div class="check-r-inner">
                    <div class="song-one">
                        <button type="button" class="box-btn">
                            <img src="/assets/images/peoples/5.jpg" alt=""/>
                        </button>
                        <div class="author"><span>David August</span></div>
                        <div class="title"><span>Hamburg is for Lovers</span></div>
                        <button type="button" class="song-buy-btn">Buy</button>
                    </div>
                    <div class="song-one">
                        <button type="button" class="box-btn">
                            <img src="/assets/images/peoples/6.jpg" alt=""/>
                        </button>
                        <div class="author"><span>David August</span></div>
                        <div class="title"><span>Hamburg is for Lovers</span></div>
                        <button type="button" class="song-buy-btn">Buy</button>
                    </div>
                    <div class="song-one">
                        <button type="button" class="box-btn">
                            <img src="/assets/images/checkout/1.png" alt=""/>
                        </button>
                        <div class="author"><span>David August</span></div>
                        <div class="title"><span>Hamburg is for Lovers</span></div>
                        <button type="button" class="song-buy-btn">Buy</button>
                    </div>
                    <div class="song-one">
                        <button type="button" class="box-btn">
                            <img src="/assets/images/checkout/2.png" alt=""/>
                        </button>
                        <div class="author"><span>David August</span></div>
                        <div class="title"><span>Hamburg is for Lovers</span></div>
                        <button type="button" class="song-buy-btn">Buy</button>
                    </div>
                    <div class="song-one">
                        <button type="button" class="box-btn">
                            <img src="/assets/images/checkout/1.png" alt=""/>
                        </button>
                        <div class="author"><span>David August</span></div>
                        <div class="title"><span>Hamburg is for Lovers</span></div>
                        <button type="button" class="song-buy-btn">Buy</button>
                    </div>
                    <div class="song-one">
                        <button type="button" class="box-btn">
                            <img src="/assets/images/checkout/2.png" alt=""/>
                        </button>
                        <div class="author"><span>David August</span></div>
                        <div class="title"><span>Hamburg is for Lovers</span></div>
                        <button type="button" class="song-buy-btn">Buy</button>
                    </div>
                    <div class="song-one">
                        <button type="button" class="box-btn">
                            <img src="/assets/images/peoples/5.jpg" alt=""/>
                        </button>
                        <div class="author"><span>David August</span></div>
                        <div class="title"><span>Hamburg is for Lovers</span></div>
                        <button type="button" class="song-buy-btn">Buy</button>
                    </div>
                    <div class="song-one">
                        <button type="button" class="box-btn">
                            <img src="/assets/images/peoples/6.jpg" alt=""/>
                        </button>
                        <div class="author"><span>David August</span></div>
                        <div class="title"><span>Hamburg is for Lovers</span></div>
                        <button type="button" class="song-buy-btn">Buy</button>
                    </div>
                    <div class="song-one">
                        <button type="button" class="box-btn">
                            <img src="/assets/images/checkout/1.png" alt=""/>
                        </button>
                        <div class="author"><span>David August</span></div>
                        <div class="title"><span>Hamburg is for Lovers</span></div>
                        <button type="button" class="song-buy-btn">Buy</button>
                    </div>
                    <div class="song-one">
                        <button type="button" class="box-btn">
                            <img src="/assets/images/checkout/2.png" alt=""/>
                        </button>
                        <div class="author"><span>David August</span></div>
                        <div class="title"><span>Hamburg is for Lovers</span></div>
                        <button type="button" class="song-buy-btn">Buy</button>
                    </div>
                    <div class="song-one">
                        <button type="button" class="box-btn">
                            <img src="/assets/images/checkout/1.png" alt=""/>
                        </button>
                        <div class="author"><span>David August</span></div>
                        <div class="title"><span>Hamburg is for Lovers</span></div>
                        <button type="button" class="song-buy-btn">Buy</button>
                    </div>
                    <div class="song-one">
                        <button type="button" class="box-btn">
                            <img src="/assets/images/checkout/2.png" alt=""/>
                        </button>
                        <div class="author"><span>David August</span></div>
                        <div class="title"><span>Hamburg is for Lovers</span></div>
                        <button type="button" class="song-buy-btn">Buy</button>
                    </div>
                </div>

            </div>
            <div class="check-r-one">
                <div class="r-one-top">
                    <span>Comments</span>
                </div>
                <div class="r-one-body">
                    <ul class="read-all-comm">
                        <li class="comm-one">
                            <a class="img" href="#" routerLink="/profile">
                                <img src="/assets/images/peoples/8.jpg" alt=""/>
                            </a>
                            <a class="name" href="" routerLink="/profile"><span>İrem Karasüleymanoğlu</span></a>
                            <div class="mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud exercitation ullamco laboris nisi ut aliquip.
                            </div>
                        </li>
                        <li class="comm-one">
                            <a class="img" href="#" routerLink="/profile">
                                <img src="/assets/images/peoples/8.jpg" alt=""/>
                            </a>
                            <a class="name" href="#" routerLink="/profile"><span>İrem Karasüleymanoğlu</span></a>
                            <div class="mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
                                cupiditate doloribus eius, enim error exercitationem, iure modi neque nesciunt pariatur
                                possimus quae quam quas quibusdam quos reiciendis reprehenderit saepe sunt.
                            </div>
                        </li>
                        <li class="comm-one">
                            <a class="img" href="#" routerLink="/profile">
                                <img src="/assets/images/peoples/8.jpg" alt=""/>
                            </a>
                            <a class="name" href="#" routerLink="/profile"><span>İrem Karasüleymanoğlu</span></a>
                            <div class="mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam,
                                aspernatur doloribus ea, exercitationem facilis fugiat ipsa itaque labore magnam modi
                                obcaecati odit omnis provident quas recusandae unde velit veniam.
                            </div>
                        </li>
                        <li class="comm-one">
                            <a class="img" href="#" routerLink="/profile">
                                <img src="/assets/images/peoples/8.jpg" alt=""/>
                            </a>
                            <a class="name" href="#" routerLink="/profile"><span>İrem Karasüleymanoğlu</span></a>
                            <div class="mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad deleniti
                                ducimus ea, ex incidunt maiores mollitia nemo nostrum numquam odio optio quaerat quia,
                                reiciendis sed sint tenetur totam vel veritatis!
                            </div>
                        </li>
                        <li class="comm-one">
                            <a class="img" href="#" routerLink="/profile">
                                <img src="/assets/images/peoples/8.jpg" alt=""/>
                            </a>
                            <a href="profile.html" class="name"><span>İrem Karasüleymanoğlu</span></a>
                            <div class="mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud exercitation ullamco laboris nisi ut aliquip.
                            </div>
                        </li>
                        <li class="comm-one">
                            <a href="profile.html" class="img">
                                <img src="/assets/images/peoples/8.jpg" alt=""/>
                            </a>
                            <a href="profile.html" class="name"><span>İrem Karasüleymanoğlu</span></a>
                            <div class="mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
                                cupiditate doloribus eius, enim error exercitationem, iure modi neque nesciunt pariatur
                                possimus quae quam quas quibusdam quos reiciendis reprehenderit saepe sunt.
                            </div>
                        </li>
                        <li class="comm-one">
                            <a href="profile.html" class="img">
                                <img src="/assets/images/peoples/8.jpg" alt=""/>
                            </a>
                            <a href="profile.html" class="name"><span>İrem Karasüleymanoğlu</span></a>
                            <div class="mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam,
                                aspernatur doloribus ea, exercitationem facilis fugiat ipsa itaque labore magnam modi
                                obcaecati odit omnis provident quas recusandae unde velit veniam.
                            </div>
                        </li>
                        <li class="comm-one">
                            <a href="profile.html" class="img">
                                <img src="/assets/images/peoples/8.jpg" alt=""/>
                            </a>
                            <a href="profile.html" class="name"><span>İrem Karasüleymanoğlu</span></a>
                            <div class="mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad deleniti
                                ducimus ea, ex incidunt maiores mollitia nemo nostrum numquam odio optio quaerat quia,
                                reiciendis sed sint tenetur totam vel veritatis!
                            </div>
                        </li>
                        <li class="comm-one">
                            <a href="profile.html" class="img">
                                <img src="/assets/images/peoples/8.jpg" alt=""/>
                            </a>
                            <a href="profile.html" class="name"><span>İrem Karasüleymanoğlu</span></a>
                            <div class="mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud exercitation ullamco laboris nisi ut aliquip.
                            </div>
                        </li>
                        <li class="comm-one">
                            <a href="profile.html" class="img">
                                <img src="/assets/images/peoples/8.jpg" alt=""/>
                            </a>
                            <a href="profile.html" class="name"><span>İrem Karasüleymanoğlu</span></a>
                            <div class="mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
                                cupiditate doloribus eius, enim error exercitationem, iure modi neque nesciunt pariatur
                                possimus quae quam quas quibusdam quos reiciendis reprehenderit saepe sunt.
                            </div>
                        </li>
                        <li class="comm-one">
                            <a href="profile.html" class="img">
                                <img src="/assets/images/peoples/8.jpg" alt=""/>
                            </a>
                            <a href="profile.html" class="name"><span>İrem Karasüleymanoğlu</span></a>
                            <div class="mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam,
                                aspernatur doloribus ea, exercitationem facilis fugiat ipsa itaque labore magnam modi
                                obcaecati odit omnis provident quas recusandae unde velit veniam.
                            </div>
                        </li>
                        <li class="comm-one">
                            <a href="profile.html" class="img">
                                <img src="/assets/images/peoples/8.jpg" alt=""/>
                            </a>
                            <a href="profile.html" class="name"><span>İrem Karasüleymanoğlu</span></a>
                            <div class="mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad deleniti
                                ducimus ea, ex incidunt maiores mollitia nemo nostrum numquam odio optio quaerat quia,
                                reiciendis sed sint tenetur totam vel veritatis!
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>