<div class="previewPosted" id="contentWrap${id}" >
	<div class="previewTextPosted">${urls}</div>
	${videoIframe}
	<div class="previewImagesPosted">
		<div class="previewImagePosted">${leftSideContent}</div>
	</div>
	<div class="previewContentPosted">
		<div class="previewTitlePosted" id="{pTP}" style="width:${contentWidth}">
			<a href="${hrefUrl}" target="_blank">${title}</a>
		</div>
		<div class="previewUrlPosted">${fancyUrl}</div>
		<div class="previewDescriptionPosted" id="{pDP}" style="width: ${contentWidth}px" >{description}</div>
	</div>
	<div style="clear: both">
		<span style="color: red; cursor: pointer; float: right" id="delete_action_${id}" ref="${id}">delete
		</span>
	</div>
</div>