<div class="masonry">
  <ng-template ngFor let-record [ngForOf]="records">
    <div class="feed-box masonry__item">
      <home-record *ngIf="record.is_track" [record]="record"
                   (onfollow)="addFollow($event)"
                   (onsahred)="sharedRecord($event)"
                   (onPlay)="playPlaylist(record)">
      </home-record>
      <app-home-article *ngIf="record.is_article"
                        [article]="record">
      </app-home-article>
    </div>
  </ng-template>
</div>
<div [hidden]="!sharedUrl" class="shared_popup">
  <div class="popup-close" (click)="sharedUrl = null"></div>
  <div class="share_container">
    <!--https://murhafsousli.github.io/ng2-sharebuttons/-->
    <share-buttons [pinterest]="false"
                   [tumblr]="false"
                   [reddit]="false"
                   [stumbleUpOn]="false"
                   [url]="sharedUrl"></share-buttons>
  </div>
</div>
