<track-edit *ngIf="isOpenEdit"
            [genresList]="genres"
            [secGenresList]="secondGenres"
            [trackTypesList]="typeList"
            [moodsList]="moodList"
            [typePrice]="typePriceLicense"
            [licensesList]="licensesList"></track-edit>
<!--<div (click)="getTrackById(1)">test</div>-->
<section class="upload-audio">
  <app-track *ngFor="let track of trackList"
             [record]="track"
             (onEdit)="getTrackById($event)"
             (onRemove)="removeTrack($event)"></app-track>
</section>