<li id="member_conv_${conversation_id}" class="${conv_class}" data-conversation-id="${conversation_id}" data-profile-id="${profile_id}" data-url="${msg_url}">
	<figure>
		<a href="">
			<img src="${img_path}" class="img_load" alt="">
		</a>
	</figure>
	<article class="nameplate">
		<a href="${delete_path}" class="delete_conversation" id="" data-id="${conversation_id}"></a>
		<h6><a href="">${firstname} ${lastname}</a><h6>
			<p class="last_message">${last_message}</p>
			<span>${timeago}</span>
		</article>
	</li>


