<div id="form-bg" class="edit_cover_img modal fade">
					<div class="col-md-12 close-icon">
						<a class="close_popup"><span></span></a>
					</div>
					<div class="col-md-12">
						<h1>Edit your cover image</h1>
						<p>Edit your cover image</p>
					</div>
					<div class="col-md-12">
						<div class="form-box clearfix">							
							<form  method="post" class="form-field album-form" id="edit_profile_form" data-role="submitenter">
								 <span class="profile-icon">
									<img src="" id="user_prof_img" />
									<a href="Javascript:void(0)" class="pink-btn image_upd" id="user_cover_image">Upload Images</a>
									<input type="file" id="user_cover_image_file" class="track_image_upd displaynone validate[required]" name="image" style="display:none;" />				
								</span>								
							</form>
						</div>
					</div>
				</div>