<div id="folowingRow" class="folowingRow_menu">
<a href="Javascript:void(0)" id="following_btn" class="follow-btn active" data-name="${firstname} ${lastname}">FOLLOWING</a>
	<div class="following_menu" id="followMenu">
		<ul class="option-list">
			<li><a href="Javascript:void(0)" data-name="${firstname} ${lastname}" class="unfollow_js" data-toid="${followingId}" > Unfollow</a></li>
			<li><a href=""><i class="fa fa-ban"></i> Block</a></li>
			<li><a href=""><i class="fa fa-envelope"></i> Send Message</a></li>								
		</ul>
	</div>

</div>										