<div class="songs">
<a href="${link}" data-role="playlist-detail">
	<img src="${song_cover_image}" class="img_load" alt="${name}">
</a>
										<div class="info">
											<h3>
												<a href="${link}" data-role="playlist-detail">${name}</a>
											</h3>
											<article class="follow-details">
												<ul>
													<li><a href="">${pl_songs} Songs</a></li>
													<li class="last"><a href="">${pl_likes} Likes</a></li>
												</ul>
											</article>
										</div>
										<div class="play-icon"></div>
									</div>				
									
									