<div class="col-md-2  col-sm-2 user-video">
		<figure class="video-img">
		<a href="${link}" data-role="${role}">
			<img src="${tab_image}" alt="" class="img-responsive img_load">
		</a>	
		</figure>
		<article>
			<a href="Javascript:void(0)" class="play-icon tr_item" data-url="${track_url}" data-href="${track_url}"></a>
			<div class="video-detials">
				<h3>
				<a href="${link}" data-role="${role}">${tab_name}</a>
				</h3>
				<!-- <img src="${tab_waveform}" alt=""> -->
				<div class="waveform_img_div" data-waveurl="${tab_waveform}" id="" data-trackurl="${track_url}" data-height="50">
				</div>
			</div>
		</article>
</div>