<div class="box">
	<div class="item margin4">
		<img src="${article_image}" alt="">
		<div class="black-bg"></div>
		<div class="tag-texts">
			<article>
				<a href="#">
					<img src="images/profile-img.png">
				</a>
				<div class="track-info">
					<h4>Admin shared an article 2</h4>
					<h2>${title}</h2>
				</div>
			</article>
			<ul class="links">
				<li><a href="#" class="heart-icon">4.289</a></li>
				<li><a href="#" class="link-icon">SHARE</a></li>
				<li class="border-r"><a href="#" class="plus-icon">ADD</a></li>
			</ul>
			
		</div>
	</div>

</div>