<div class="col-md-3 col-sm-3 user-video" id="${row_id}">
							  				<figure class="video-img">
							  					<a href="${link}" data-role="profile">
							  					<img src="${user_pic}" alt="" class="img-responsive img_load" >
							  					</a>
							  				</figure>
							  				<article>
							  					<a href="#" class="play-icon"></a>
							  					<div class="video-detials">
							  						<h3><a href="${link}" data-role="profile" data-rel="ajax" role="tab" data-toggle="tab">${username}</a></h3>
							  						<img src="${user_waveform}" class="img_load" alt="">
							  					</div>
							  				</article>
								  		</div>