<div class="commentForm commentForm__transition" data-url="${current_url}">
	<form action="" name="comment_Form" class="comment_Form form1" data-url="${current_url}">
		<input type="hidden" name="trackId" class="trackId" value="${trackId}">
		<input type="hidden" name="userId" class="userId" value="">
		<input type="hidden" name="commentId" class="commentId" value="0">
		<input type="hidden" name="t" class="t" value="">

		<div class="commentForm__avatar sc-media-image">
			<img src="${profileImage}" width="40" height="40" alt=""> 
		</div>
		<div class="commentForm__inputWrapper "> 
			<a class="commentForm__recipient" href="#">														
			</a>
			<div class="fld_cont">
				<input type="text" title="" placeholder="comment on this part of the track" value="" name="commentDesc" class="commentForm__input sc-border-box" style="padding-left: 10px;" data-original-title="Comment on this part of the track">
			</div>
			<div class="clearfix"></div>
		</div>
	</form>

</div>