<ul class="songs-list list-item ${gray_bg}" id="playlist_songs_${plid}_${id}">
	<li class="col1">
	<span class="menu">	
		<div class="options">
			<ul class="option-list left">

				<li><a href="Javascript:void(0)" class="open-chat remove_from_pl" data-tid="${id}" data-plid="${plid}">Remove</a></li>

				<li><a href="">Add to queue</a></li>
			</ul>
		</div>
	</span> 
	<!-- <span class="three-dot"></span> -->
	<span class="cart-icon"></span>
	</li>
	<li class="col2">${index}</li>
	<li class="col3">${song_name}</li>
	<li class="col4">${album_name}</li>
	<li class="col5">${song_length}</li>
</ul>